.region-spotlight {
padding-top: 0
}

.building-container {
margin-left: -15px;
margin-right: -15px;
}

.tooltip-style h1 {
font-size: 1rem !important;
margin-bottom: 8px;
}
.tooltip-style h2 {
font-size: .875rem !important;
}
.tooltip-style p {
color: #ffffff !important
}

body.page-node-11 #page-title {
display: none !important
}

.colorbox-node-content {
display: none
}

.hotspot-images img {
padding: 10px;
min-width: 33%;
max-width: 50%
}

.hotspot-embed .iframe-wrap {
    display: inline-block;
    margin: 0;
    min-width: 50%;
}
.hotspot-embed iframe {
    padding: 10px;
}

@media (min-width: 1600px) {
.hotspot-images img {
 width: 100%;
}
.hotspot-embed iframe {
 width: 100%;
}
}

.hotspot-copy {
padding: 10px;
}

.hotspot-copy h1 {
padding-bottom: 10px;
}

.scroll-tip {
    display: none
}

@media (max-width: 576px) {

.building-container {
width: 768px;
position: relative;
}

.building-wrapper {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	margin-left: -15px;
	margin-right: -15px;
	-webkit-overflow-scrolling: touch;
	/*ZOOM-PAN*/
	/*overflow: hidden;
	position: relative;
	width: 100%;*/
}

.building-container img {

}

.hotspot-images img {
max-width: 100% !important;
}

.hotspot-copy h1 {
font-size: 1.5rem !important;
}

.mcTooltipInner, .tooltip-style, #tip1, #tip2, #tip3, #tip4, #tip5, #tip6, #tip7 {

}

.scroll-tip {
display: block;
width: 46px;
margin: 0 auto;
padding-top: 20px;
opacity: 0;
    -webkit-animation: fade 12s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fade {
    0% {opacity: 1.0;}
    50% {opacity: 1.0;}
    75% {opacity: 1.0}
    100% {opacity: 0.0}
}
}

.hotspot-1 {
top: 48%;
left: 25%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-2 {
top: 32%;
left: 37%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-3 {
top: 35%;
left: 66%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-4 {
top: 80%;
left: 40%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-5 {
top: 80%;
left: 52%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-6 {
top: 70%;
left: 55%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-7 {
top: 62%;
left: 85%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-8 {
top: 62%;
left: 21%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-9 {
top: 67%;
left: 75%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-10 {
top: 66%; 
left: 62%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-11 {
top: 57%; 
left: 41%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-12 {
top: 65%; 
left: 88%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-13 {
top: 58%; 
left: 51%;
position: absolute;
width: 8%;
height: 30px;
}


.hotspot-short-1 {
top: 27%;
left: 25%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-2 {
top: 38%;
left: 55%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-3 {
top: 64%;
left: 11%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-4 {
top: 68%;
left: 22%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-5 {
top: 50%;
left: 35%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-6 {
top: 50%;
left: 65%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-7 {
top: 68%;
left: 35%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-8 {
top: 65%;
left: 65%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-9 {
top: 67%;
left: 5%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-10 {
top: 58%;
left: 43.5%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-11 {
top: 59%;
left: 72%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-short-12 {
top: 60%;
left: 61%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-1 {
top: 80%;
left: 33%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-2 {
top: 80%;
left: 40%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-3 {
top: 60%;
left: 11%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-4 {
top: 64%;
left: 22%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-5 {
top: 46%;
left: 35%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-6 {
top: 47%;
left: 65%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-7 {
top: 64%;
left: 35%;
position: absolute;
width: 8%;
height: 30px;
}

.hotspot-state-8 {
top: 51%;
left: 65%;
position: absolute;
width: 8%;
height: 30px;
}


.hotspot {
width: 100%;
height: 30px;
margin: auto;
top: 0;
bottom: 0;
display: block;
z-index: 2
}

.hotspot-pulse {
width: 30px;
height: 30px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: block;
border: 3px solid #ffffff;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    position: absolute;
    z-index:1
}

.circle {
width: 32px;
height: 32px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
background: #EEB211;
border: 3px solid #ffffff;
display: block;
margin: auto;
top: 0;
bottom: 0;
z-index: 2;
}






@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.5, 1.5); opacity: 0.0;}
}

.hotspot:hover > .circle {
background: #004f9f;
}

.hotspot:hover > .hotspot-pulse {
display: none !important;
}

.hotspot.colorbox-inline.cboxElement.init-colorbox-inline-processed {
    text-decoration: none !important;
}

/*********************Start new css elements *******************************************/
.circle-place,
.circle-water,
.circle-energy,
.circle-health,
.circle-materials,
.circle-beauty,
.circle-equity{
    width: 32px;
    height: 32px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    border: 1px solid #ffffff;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 2; 
    background-repeat: no-repeat;
    background-size: cover;  
    transition: all .2s ease-in-out;
}

.circle-place{
    background-image: url(/sites/default/files/images/icons/place.png); 
}
.circle-water{
    background-image: url(/sites/default/files/images/icons/water.png);
}
.circle-energy{
    background-image: url(/sites/default/files/images/icons/energy.png);
}
.circle-health{
    background-image: url(/sites/default/files/images/icons/health.png);
}
.circle-materials{
    background-image: url(/sites/default/files/images/icons/materials.png);
}
.circle-beauty{
    background-image: url(/sites/default/files/images/icons/beauty.png);
}
.circle-equity{
    background-image: url(/sites/default/files/images/icons/equity.png); 
}
span[class^='circle']:hover{
    width: 38px;
    height: 38px;
    border-radius: 20px;
    transform: scale(1.1);
}
.button-wrap{
    position: relative;
}
.button-container{
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.button-container-2{
    position: absolute;
    bottom: 55px;
    right: 100px;
}
.button-style p{
   border: 2px solid #000;
   font-size: 11px;
}
.button-style p a:before{
    left: 1.75em;
    top: 1em;
}
.button-style .highlight-link-yellow a{
    padding: 10px 14px 10px 32px;
}
.icon-legend{
    width: 13.5%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.icon-legend:nth-of-type(1n){
   padding-left: 0px;
  }
.icon-legend:nth-of-type(7n){
   padding-right: 0px;
 }
.icon-legend img{
    width: 50%;
    padding: 15px 10px 20px;
}
.legend-txt{
    font-size: .70em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: center;
    display: block;
}

@media (max-width: 560px) {
    .icon-legend {
        width: 40%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

/*******End of new css elements**************/