/**
 * @file
 * A CSS style sheet to be used for custom styling.
 *
 * Just be sure to make a backup of this file prior to updating to a new version of the GT Subtheme,
 * or your styles will get overridden when updating.
 * After updating you'll need to replace this file with your backup.
 *
 */

 a:link, a:visited, a:active{
   color:#004f9f;
 }

 a:hover{
  color:#1879db;
}


  /************ Custom Carousel Styles *************************/
.gtct-carousel__slides-wrapper {  margin-bottom: 10px; /* adds space below wraper for slide cirlces */}
.gtct-carousel-slide__title-wrapper.title-left .gtct-carousel-slide__title-static {  left: 0px; /*left: 40px; We reduce the left posistion to zero to align text on the stage so there is no overflow */}
.gtct-carousel-slide__title-wrapper { width: 100%;}
.gtct-carousel-slide__title-static {
  background-color: #fff;
  background: none repeat scroll 0 0 rgba(0,0,0,0.7);
  bottom: 0px;
  padding: 10px 25px;
  position: absolute;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
   opacity: 1; 
}
.gtct-carousel__slides-wrapper .flex-control-nav { /* controls the posistioning of the slider circles on the bottom of slide */  bottom: -25px;  /*size: 1em;*/  line-height: 1;}
.gtct-carousel__slides-wrapper .flex-direction-nav a{
   height: 50px; 
   width: 50px;
   text-shadow: 0 1px 2px #5a5a5a;
   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
   opacity: 0.80;  
   position: absolute;
   top: 50%; 
}
.gtct-carousel__slides-wrapper .flex-direction-nav a:before {  content: "\f104";  /*replace old FA icon with new arrow icon */} 
.gtct-carousel__slides-wrapper .flex-direction-nav a.flex-next:before{  content: "\f105";      /*content: "\f138";*/}
.gtct-carousel__slides-wrapper .flex-direction-nav a:before {  font-size: 82px;   line-height: .45;}
.gtct-carousel__slides-wrapper .flex-direction-nav a.flex-prev, .gtct-carousel__slides-wrapper .flex-direction-nav a.flex-next { text-decoration: none;/* Added for IE : IE puts an underline under the icons because its wrapped in an anchor link */}
.gtct-carousel-slide__title-static .gtct-carousel-slide__title-text {  font-size: 2em;  line-height: 1.15;  margin-bottom: 4px;}
.gtct-carousel-slide__title-static h4.gtct-carousel-slide__title-text a, .gtct-carousel-slide__summary-text, a.gtct-carousel-slide__jumplink{  color: #ffffff;}
.gtct-carousel-slide__title-static .gtct-carousel-slide__summary-text {  font-size: 1.20em;  line-height: 1.4;  margin-bottom: 2px;}
.gtct-carousel-slide__jumplink:after {  content: "\f064";  padding-left: 5px;}
.gtct-carousel__slides-wrapper .flex-control-paging li a {  background: rgba(239, 239, 239, 1);  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);}


.editor-float-left-15 {
    width: 15%;
}
.editor-float-left-15 {
    float: left;
    padding: 5px 14px 10px 0;
}

@media only screen and (max-width: 51em){
  .editor-float-left-15{
    width:100%;
    float:none;
    padding: 0;
}
 
 .editor-float-left-70{
    width:100%;
   }
 
}
.block-title-wrapper h4 > a:link, .block-title-wrapper h4 > a:visited{
    color: #ffffff !important;
}
.hg-links{
  font-weight: bold;
  margin-top: 20px;
}


@media only screen and (min-width: 51em){
.hg-feed-event-title {
    margin-left: 0%;
  }
}

.hg-feed-news-summary-sentence {
    margin-left: 28%;
}

.center-head {
  font-size: 1.1875em;
  margin: 35px auto 0px auto;
  font-weight: 400;
  color: #808080;
  text-align: center; 
}


/* Home page Blog feed Styling*/
div .item-list{
  margin-top: 10px;
}

div .item-list ul{
  list-style: none;
  padding-left: 0;


}

div .item-list li{
 font-family: "Roboto Slab", serif;
 font-weight: 700;
 font-size: 1.1em;
line-height: 1.65;
}

div .item-list li:before{
  content: "\002022";
  color: #808080;
  padding-right: 8px;
}

h3.hg-feed-news-title a, h3.hg-feed-event-title a{
   font-family: "Roboto Slab", serif !important;
}

.hg-feed-news-title a:hover, .hg-feed-event-title a:hover{
  text-decoration: underline;
 }



/* EXternal News Source CSS Styling - Portable */

h3.hg-feed-external-title{
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  line-height: 1.3;
}

.hg-feed-external-details {
  font-size: .80em; 
  font-weight: 300;
}

.date-display:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f017";
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 0 .4em 0 .3em;
}
/* End of External News Style */


.page-timeline #page-title .title {
    font-size: 2.25em !important;
    line-height: 1;
    margin: 0 auto;
    padding: 10px 10px 40px;
   /* text-align: center;*/
    font-weight: 300;
  }


/* EXternal Blog Source CSS Styling - Portable */

.blog-roll-view{
  margin: 10px 5px 20px; 
}
h3.blog-feed-external-title{
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  line-height: 1.3;
  margin-bottom: 5px;
}
h5.blog-role-hd{
  margin:20px 0 2px;
  line-height:1.5; 
}
.blog-feed-external-details,.blog-date-display {
  font-size: .80em; 
  font-weight: 300;
  line-height: 1.4;
}
.blog-feed-external-details{
  font-style: italic;
}
.blog-date-display:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f017";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  margin: 0 .4em 0 .3em;
}
.more-link{
  font-size: .75em;
   font-family: "Roboto Slab", serif;
  text-align: right;
  margin-right: 25px; 
}


/*********** Styles for the LB Index****************/


.view-id-index_terms h3{
  font-size: 1.5em !important;
  font-weight: normal;
  margin-top:25px;
}
.alpha-term{
  padding: 8px 0px 2px 0;
  font-size: .975em !important;
  line-height: 1.2;
      font-weight: 400;
}
.alpha-term a{
 color: #004f9f;
 text-decoration: none;
}
.alpha-term a:hover{
 text-decoration: underline;
}
.alpha-term-secondary{
  padding: 10px 0 30px 0;
  font-size: .975em !important;
  line-height: 1.2;
  font-weight: 700;
}
.index-secondary-hd{
  margin: 25px 0  20px 40px;
}
.index-reg-text{
  font-weight: 300;
  line-height: 1.5;
  margin-left: 40px;
}

.index-multi .item-list {
  font-weight: 300;
  line-height: 1.4;
  margin-left: 40px;
}

.index-multi .item-list ul{
  list-style: disc;
  padding-left: 10px;
  font-size: 1em;
}
.index-multi .item-list li:before{
  content: none;

}
.index-multi .item-list li{
 font-family: "Roboto", serif;
 font-weight: 300;
 font-size: 1em;
 margin-left: 40px;
}
.edit-term{
  font-size: .75em;
  padding-top: 5px;
}
.index-url{
   margin-left: 40px;
   padding: 10px 0;
   line-height: 1.2;
}
.index-url a{
  color: #1879db;
}


.secondary-index-term .fieldset-legend {
     font-size: .775em;
}
.add-comma:before{
  content:",";
}

.back-to-index:before{
  display: inline-block;
  font-family: FontAwesome;
  content: "\f100";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  margin: 0 .4em 0 0;
}
.wrap-index-sm-hd{
  float: right;
  margin-right: 20px;
  margin-bottom: 25px;
}
.sec-term{
  margin-left: 10px;
  font-weight: 300;
}


.video-block{
  width: 100%;
  background-color: #000;
}

.video-size{
  width: 65%;
  margin: 0 auto;
}



.icon-pdf:before{
  display: inline-block;
  font-family: FontAwesome;
  content: "\f1c1";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  margin: 0 .4em 0 0;
}



.field-type-image .field-item{
  padding: 15px 10px 15px 0;
  float: left;

}
.field-type-image .field-item img{
  width: 175px;
    height: 150px;
    border-radius: 5px;
   border: 4px solid #E5E5E5;
}

.field-type-image{
    margin: 45px 0 60px 0;
    overflow: hidden;
}


/* Styles for Views output Academic Pilot */

.academic-pilot-wrap{
  display: inline-block;
  margin-top: 25px;
}
h3.program-hd {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
 
}

.academic-pilot-wrap h6, .full-academic-list h6{
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.academic-img{
  float: left;
  margin: 0 20px 0 0;
}

.summary{
  padding-top: 5px;
}

.program_video{
    width: 285px;
    height: 180px;
    float: left;
    margin-right: 20px;
}

.full-academic-list{
  margin: 0 0 20px 0;
}

.full-academic-list h2{
  font-size: 1.125em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
}

.full-academic-list .node-readmore{
  padding: 0;
}

.back-to{
  float: right;
  font-size: .925em;
}

.back-to a{
 color: #545454;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin-top: 20px;
}

.display-count{
    text-align: center;
    font-size: .875em;
}


.academic-wrap{
    padding: 10px 0px 20px 0;
}