/**
 * @file
 * CSS block element styles
 *
 * Includes styling for block elements
 *
 */
@charset "UTF-8";

/**
 * Block Defaults
 */
.block {
  padding: 0 10px 10px;
}

.block .block-title-wrapper h4 {
  border-bottom: 2px solid #808080;
  font-size: 1.286em;
  line-height: 1.2;
  margin: 0 0 10px;
  padding: 5px 3px 6px;
}

/**
 * Block stacking by region
 */

/* Content Lead/Close Regions */
.region-content-lead .block,
.region-content-close .block {
  float: left;
  width: 100%;
}

.region-content-lead.block-count-2 .block,
.region-content-close.block-count-2 .block {
  width: 50%;
}

.region-content-lead.block-count-3 .block,
.region-content-close.block-count-3 .block {
  width: 33.33%;
}

.region-content-lead.block-count-4 .block,
.region-content-close.block-count-4 .block {
  width: 25%;
}

/* Main Top/Bottom Regions Defaults */
.region-main-top .block,
.region-main-bottom .block {
  float: left;
  width: 100%;
}

/* Main Top/Bottom Regions no sidebars, block count = 2 */
#content.no-sidebars .region-main-top.block-count-2 .block,
#content.no-sidebars .region-main-bottom.block-count-2 .block {
  width: 50%;
}

/* Main Top/Bottom Regions no sidebars, block count = 3 */
#content.no-sidebars .region-main-top.block-count-3 .block,
#content.no-sidebars .region-main-bottom.block-count-3 .block {
  width: 33.33%;
}

/* Main Top/Bottom Regions no sidebars, block count = 4+ */
#content.no-sidebars .region-main-top.block-count-4 .block,
#content.no-sidebars .region-main-bottom.block-count-4 .block {
  width: 25%;
}

/* Main Top/Bottom Regions one sidebar, block count = 2 */
#content.one-sidebar .region-main-top.block-count-2 .block,
#content.one-sidebar .region-main-bottom.block-count-2 .block {
  width: 50%;
}

/* Main Top/Bottom Regions one sidebar, block count = 3+ */
#content.one-sidebar .region-main-top.block-count-3 .block,
#content.one-sidebar .region-main-top.block-count-4 .block,
#content.one-sidebar .region-main-bottom.block-count-3 .block,
#content.one-sidebar .region-main-bottom.block-count-4 .block {
  width: 33.33%;
}

/* Main Top/Bottom Regions both sidebars, block count = 2+ */
#content.both-sidebars .region-main-top.block-count-2 .block,
#content.both-sidebars .region-main-top.block-count-3 .block,
#content.both-sidebars .region-main-top.block-count-4 .block,
#content.both-sidebars .region-main-bottom.block-count-2 .block,
#content.both-sidebars .region-main-bottom.block-count-3 .block,
#content.both-sidebars .region-main-bottom.block-count-4 .block {
  width: 50%;
}

/**
 * Block layout classes, which can be added by users via block class module
 * (https://drupal.org/project/block_class) for now - will be ported to GT Tools module
 */
.block.full-width {
  width: 100% !important;
}

.block.three-quarter-width {
  width: 75% !important;
}

.block.two-thirds-width {
  width: 66.6% !important;
}

.block.half-width {
  width: 50% !important;
}

.block.third-width {
  width: 33.33% !important;
}

.block.quarter-width {
  width: 25% !important;
}

.block.row-break {
  clear: left;
}

/* don't allow width alterations for sidebar regions */
#sidebar-left .block.three-quarter-width,
#sidebar-right .block.three-quarter-width,
#sidebar-left .block.two-thirds-width,
#sidebar-right .block.two-thirds-width,
#sidebar-left .block.half-width,
#sidebar-right .block.half-width,
#sidebar-left .block.third-width,
#sidebar-right .block.third-width,
#sidebar-left .block.quarter-width,
#sidebar-right .block.quarter-width {
  width: 100% !important;
}

/**
 * Block style classes, which can be added by users via GT Tools module
 * (go to Configuration -> System -> GT Tools)
 */

/* Gold stroke top/bottom w/ gray body bg */
.promo-block .block-title-wrapper {
  padding: 5px;
}

.promo-block .block-title-wrapper h4 {
  border: none;
  margin: 0;
}

.promo-block .block-body {
  background-color: #EEEEEE;
  border-bottom: 4px solid #EEB211;
  border-top: 4px solid #EEB211;
  padding: 10px 10px 5px;
}

/* GT gold bg on title w/ gray body bg */
.block.related-info-block .block-title-wrapper {
  background: none repeat scroll 0 0 #EEB211;
  color: #262626;
  display: block;
  margin: 0 0 3px;
  padding: .5em;
}

.block.related-info-block .block-title-wrapper h4 {
  border: none;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.block.related-info-block .block-body {
  background: none repeat scroll 0 0 #EEEEEE;
  padding: 10px;
}

/* Block title icons */
.block.icon-alert-title .block-title-wrapper h4,
.block.icon-download-title .block-title-wrapper h4,
.block.icon-info-title .block-title-wrapper h4,
.block.icon-link-title .block-title-wrapper h4 {
  padding: 8px 3px;
}

.block.icon-alert-title .block-title-wrapper h4:before,
.block.icon-download-title .block-title-wrapper h4:before,
.block.icon-info-title .block-title-wrapper h4:before,
.block.icon-link-title .block-title-wrapper h4:before {
  color: inherit;
  display: inline-block;
  float: left;
  font-family: "FontAwesome";
  font-size: 30px;
  margin: -6px 6px 0 0;
}

.block.icon-alert-title .block-title-wrapper h4:before {
  content: "\f06a";
}

.block.icon-download-title .block-title-wrapper h4:before {
  content: "\f01a";
}

.block.icon-info-title .block-title-wrapper h4:before {
  content: "\f05a";
}

.block.icon-link-title .block-title-wrapper h4:before {
  content: "\f14c";
}

/**
 * Nodeblock tweaks
 */
/* Hide extra contextual links */
.block-nodeblock .node .contextual-links-wrapper {
  display: none;
}

/*----- Menu - GT Menu Styles 1-2-3 ----- */

.menu-block-wrapper ul {
  padding-left: 0;
  margin: 0;
}

.menu-block-wrapper ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

.menu-block-wrapper a:link,
.menu-block-wrapper a:visited {
  text-decoration: none;
}

.menu-block-wrapper ul.menu li {
  margin: 0;
  padding: .5em;
}

.menu-block-wrapper ul li.expanded {
  list-style-image: none;
  list-style-type: none;
}

.gt-menu-style-1.block .block-body,
.gt-menu-style-2.block .block-body,
.gt-menu-style-3.block .block-body {
  padding: 0;
}

.gt-menu-style-1.block .block-title-wrapper,
.gt-menu-style-2.block .block-title-wrapper,
.gt-menu-style-3.block .block-title-wrapper {
  padding-bottom: 0;
}

.gt-menu-style-1.block.block-menu .block-title-wrapper h4,
.gt-menu-style-2.block.block-menu .block-title-wrapper h4,
.gt-menu-style-3.block.block-menu .block-title-wrapper h4,
.gt-menu-style-1.block.block-menu-block .block-title-wrapper h4,
.gt-menu-style-2.block.block-menu-block .block-title-wrapper h4,
.gt-menu-style-3.block.block-menu-block .block-title-wrapper h4 {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  padding: .9em;
  font-weight: 700;
  border: none;
  margin: 0;
}

.gt-menu-style-1.block-menu .menu li,
.gt-menu-style-2.block-menu .menu li,
.gt-menu-style-3.block-menu .menu li,
.gt-menu-style-1.block-menu-block .menu li,
.gt-menu-style-2.block-menu-block .menu li,
.gt-menu-style-3.block-menu-block .menu li {
  border-top: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gt-menu-style-1 ul.menu li a:link,
.gt-menu-style-1 ul.menu li a:visited,
.gt-menu-style-2 ul.menu li a:link,
.gt-menu-style-2 ul.menu li a:visited,
.gt-menu-style-3 ul.menu li a:link,
.gt-menu-style-3 ul.menu li a:visited {
  display: block;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: inherit;
  font-weight: 400;
  text-decoration: none !important;
  text-indent: 0;
  line-height: 1.25;
}

.gt-menu-style-1.block-menu .menu li a:link,
.gt-menu-style-2.block-menu .menu li a:link,
.gt-menu-style-3.block-menu .menu li a:link,
.gt-menu-style-1.block-menu-block .menu li a:link,
.gt-menu-style-2.block-menu-block .menu li a:link,
.gt-menu-style-3.block-menu-block .menu li a:link {
  padding: 1em
}

.gt-menu-style-1 ul.menu li a:hover,
.gt-menu-style-2 ul.menu li a:hover,
.gt-menu-style-3 ul.menu li a:hover {
  text-decoration: none;
}

.gt-menu-style-1 ul.menu li a:before,
.gt-menu-style-2 ul.menu li a:before,
.gt-menu-style-3 ul.menu li a:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f054";
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  float: right;
}

.gt-menu-style-1 .menu a:after,
.gt-menu-style-2 .menu a:after,
.gt-menu-style-3 .menu a:after {
  display: none;
}

/* ----- Side Bar Menu Tweaks -----*/
#sidebar .gt-menu-style-1 .menu a:after,
#sidebar-right .gt-menu-style-1 .menu a:after,
#sidebar-left .gt-menu-style-1 .menu a:after,
#sidebar .gt-menu-style-2 .menu a:after,
#sidebar-right .gt-menu-style-2 .menu a:after,
#sidebar-left .gt-menu-style-2 .menu a:after,
#sidebar .gt-menu-style-3 .menu a:after,
#sidebar-right .gt-menu-style-3 .menu a:after,
#sidebar-left .gt-menu-style-3 .menu a:after {
  display: none;
}

/**/

/* ----- Menu Colors ----- */
.gt-menu-style-1.block.block-menu .block-title-wrapper h4,
.gt-menu-style-1.block.block-menu-block .block-title-wrapper h4 {
  color: #262626 !important;
  background: #eeb211;
}

.gt-menu-style-2.block.block-menu .block-title-wrapper h4,
.gt-menu-style-2.block.block-menu-block .block-title-wrapper h4 {
  color: #FFFFFF;
  background: #262626;
}

.gt-menu-style-3.block.block-menu .block-title-wrapper h4,
.gt-menu-style-3.block.block-menu-block .block-title-wrapper h4 {
  color: #FFFFFF;
  background: #262626;
}

.gt-menu-style-1 .menu li {
  background-color: #545454;
}

.gt-menu-style-2 .menu li {
  background-color: #eeb211;
}

.gt-menu-style-3 .menu li {
  background-color: #EEEEEE;
}

.gt-menu-style-1 ul.menu li a:link,
.gt-menu-style-1 ul.menu li a:visited {
  color: #FFFFFF;
  border-bottom: 1px solid #808080;
  border-top: none;
}

.gt-menu-style-2 ul.menu li a:link,
.gt-menu-style-2 ul.menu li a:visited {
  color: #262626;
  border-bottom: 1px solid #ffe08b;
  border-top: none;
}

.gt-menu-style-3 ul.menu li a:link,
.gt-menu-style-3 ul.menu li a:visited {
  color: #262626;
  border-bottom: 1px solid #808080;
  border-top: none;
}

.gt-menu-style-1 ul.menu li a:hover {
  color: #262626;
  background-color: #EEEEEE;
}

.gt-menu-style-2 ul.menu li a:hover {
  color: #FFFFFF;
  background-color: #545454;
}

.gt-menu-style-3 ul.menu li a:hover {
  color: #FFFFFF;
  background-color: #545454;
}

.gt-menu-style-1 .menu a:after {
  color: #FFFFFF;
}

.gt-menu-style-1 .menu a:hover:after {
  color: #262626;
}

.gt-menu-style-2 .menu a:after {
  color: #545454;
}

.gt-menu-style-2 .menu a:hover:after {
  color: #FFFFFF;
}

.gt-menu-style-3 .menu a:after {
  color: #FFFFFF;
}

/**/

/* No Link Styling */
.gt-menu-style-1 .menu .nolink,
.gt-menu-style-2 .menu .nolink,
.gt-menu-style-3 .menu .nolink {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  padding: 1.2em 0 1.2em .3em;
  border: medium none;
  margin: 0;
  width: 100%;
  display: block;
}

.gt-menu-style-1 .menu .nolink {
  color: #262626;
  background-color: #eeb211;
}

.gt-menu-style-2 .menu .nolink {
  color: #FFFFFF;
  background-color: #00254c;
}

.gt-menu-style-3 .menu .nolink {
  color: #FFFFFF;
  background-color: #545454;
}

/**/

.gt-menu-style-1 hr {
  border: 2px solid #eeb211;
  margin: 0;
}

.gt-menu-style-2 hr {
  border: 2px solid #00254c;
  margin: 0;
}

.gt-menu-style-3 hr {
  border: 2px solid #545454;
  margin: 0;
}

.gt-menu-style-1.block-menu .menu .menu,
.gt-menu-style-2.block-menu .menu .menu,
.gt-menu-style-3.block-menu .menu .menu,
  /**/
.gt-menu-style-1.block.block-menu .menu .menu,
.gt-menu-style-2.block.block-menu .menu .menu,
.gt-menu-style-3.block.block-menu .menu .menu {
  padding: 0;
}

.gt-menu-style-1.block-menu .menu li li:before,
.gt-menu-style-2.block-menu .menu li li:before,
.gt-menu-style-3.block-menu .menu li li:before,
  /**/
.gt-menu-style-1.block.block-menu .menu li li:before,
.gt-menu-style-2.block.block-menu .menu li li:before,
.gt-menu-style-3.block.block-menu .menu li li:before {
  display: none;
}

.gt-menu-style-1.block-menu .menu li li:before,
.gt-menu-style-1.block.block-menu .menu li li:before {
  color: #FFFFFF;
}

.gt-menu-style-2.block-menu .menu li li:before,
.gt-menu-style-2.block.block-menu .menu li li:before {
  color: #262626;
}

.gt-menu-style-3.block-menu .menu li li:before,
.gt-menu-style-3.block.block-menu .menu li li:before {
  color: #262626;
}

/**/

.gt-menu-style-1.block-menu .menu ul .leaf,
.gt-menu-style-1.block-menu-block .menu ul .leaf,
.gt-menu-style-1.block.block-menu .menu ul .leaf {
  background: #545454;
}

.gt-menu-style-2.block-menu .menu ul .leaf,
.gt-menu-style-2.block-menu-block .menu ul .leaf,
.gt-menu-style-2.block.block-menu .menu ul .leaf {
  background: #FFE08B;
  border-bottom: 1px solid #EEB211;
}

.gt-menu-style-3.block-menu .menu ul .leaf,
.gt-menu-style-3.block-menu-block .menu ul .leaf,
.gt-menu-style-3.block.block-menu .menu ul .leaf {
  background: #ffffff;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.gt-menu-style-1.block-menu .menu,
.gt-menu-style-2.block-menu .menu,
.gt-menu-style-1.block.block-menu .menu,
.gt-menu-style-2.block.block-menu .menu {
  border-bottom: none;
}

.gt-menu-style-1.block-menu .menu ul .leaf,
.gt-menu-style-1.block.block-menu .menu ul .leaf {
  background: #545454;
}

.gt-menu-style-1.block-menu .menu ul .leaf a:link,
.gt-menu-style-1.block-menu .menu ul .leaf a:visited {
  background: #262626;
}
.gt-menu-style-1.block-menu .menu ul .leaf a:hover {
  color: #262626;
  background: #FFFFFF;
}

.block-menu .menu ul .leaf a:link,
.block-menu .menu ul .leaf a:visited,
.gt-menu-style-1.block-menu .menu ul .leaf a:link,
.gt-menu-style-1.block-menu .menu ul .leaf a:visited,
.gt-menu-style-2.block-menu .menu ul .leaf a:link,
.gt-menu-style-2.block-menu .menu ul .leaf a:visited,
.gt-menu-style-3.block-menu .menu ul .leaf a:link,
.gt-menu-style-3.block-menu .menu ul .leaf a:visited,
.gt-menu-style-1.block.block-menu .menu ul .leaf a:link,
.gt-menu-style-1.block.block-menu .menu ul .leaf a:visited,
.gt-menu-style-2.block.block-menu .menu ul .leaf a:link,
.gt-menu-style-2.block.block-menu .menu ul .leaf a:visited,
.gt-menu-style-3.block.block-menu .menu ul .leaf a:link,
.gt-menu-style-3.block.block-menu .menu ul .leaf a:visited {
  padding: 1em 1em 1em 1.5em;
}

.block-menu .menu ul .leaf a:link,
.block-menu .menu ul .leaf a:visited,
.block.block-menu .menu ul .leaf a:link,
.block.block-menu .menu ul .leaf a:visited {
  padding: .3em 0 .3em .75em;
}

/* Sub Menus */
.gt-menu-style-1.block-menu .menu li.active-trail,
.gt-menu-style-1.block-menu .menu li.active-trail,
.gt-menu-style-2.block-menu .menu li.active-trail,
.gt-menu-style-3.block-menu .menu li.active-trail,
.gt-menu-style-1.block.block-menu .menu li.active-trail,
.gt-menu-style-2.block.block-menu .menu li.active-trail,
.gt-menu-style-3.block.block-menu .menu li.active-trail {
  padding-left: 0;
  font-weight: 500;
}

.gt-menu-style-1.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block-menu .menu li.collapsed a:link,
.gt-menu-style-1.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block.block-menu .menu li.collapsed a:link {
  padding-left: 1.5em;
}

.gt-menu-style-1.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-2.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-1.block.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.leaf a:link {
  padding-left: 1.5em;
}

.gt-menu-style-1.block-menu .menu li li:before,
.gt-menu-style-2.block-menu .menu li li:before,
.gt-menu-style-3.block-menu .menu li li:before,
.gt-menu-style-1.block.block-menu .menu li li:before,
.gt-menu-style-2.block.block-menu .menu li li:before,
.gt-menu-style-3.block.block-menu .menu li li:before {
  left: .9em;
}
.gt-menu-style-3.block.block-menu .menu li.active-trail li.first a:link {
  color: #FFFFFF!important;
  background: #262626;
}

.gt-menu-style-3.block.block-menu .menu li.active-trail li.first a:link {
  color: #FFFFFF!important;
  background: #262626;
}

.gt-menu-style-3.block.block-menu .menu li.active-trail li.first a:link {
  color: #FFFFFF!important;
  background: #262626;
}

.gt-menu-style-1.block.block-menu .menu li.active-trail li.first a:link:before,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.first a:link:before,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.first a:link:before {
  display: none;
}

.gt-menu-style-1.block-menu .menu li li:hover:before,
.gt-menu-style-2.block-menu .menu li li:hover:before,
.gt-menu-style-3.block-menu .menu li li:hover:before,
.gt-menu-style-1.block.block-menu .menu li li:hover:before,
.gt-menu-style-2.block.block-menu .menu li li:hover:before,
.gt-menu-style-3.block.block-menu .menu li li:hover:before {
  transition-property: all;
  transition-duration: 0.8s;
}

/**/

/* Sub Menus  Colors */

/* Menu Style 1 */
.gt-menu-style-1.block-menu .menu li.active-trail,
.gt-menu-style-1.block-menu .menu li.active-trail a:hover,
.gt-menu-style-1.block.block-menu .menu li.active-trail,
.gt-menu-style-1.block.block-menu .menu li.active-trail a:hover {
  color: #FFFFFF;
  background: #262626;
}

.gt-menu-style-1.block-menu .menu li.collapsed a:link,
.gt-menu-style-1.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-1.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-1.block.block-menu .menu li.active-trail li.leaf a:link {
  color: #FFFFFF !important;
}

.gt-menu-style-1.block-menu .menu li.collapsed a:hover,
.gt-menu-style-1.block-menu .menu li.active-trail a:link,
.gt-menu-style-1.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-1.block-menu .menu li li:hover:before,
.gt-menu-style-1.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-1.block.block-menu .menu li.active-trail a:link {
  color: inherit !important;
  text-decoration: none;
}

.gt-menu-style-1.block.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-1.block.block-menu .menu li li:hover:before {
  color: #262626 !important;
  text-decoration: none;
  background: #EEEEEE !important;
}

.gt-menu-style-1.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-1.block-menu .menu li.active-trail.active.leaf a:link {
  color: #ffffff;
  background: #262626;
}

.gt-menu-style-1.block.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-1.block.block-menu .menu li.active-trail.active.leaf a:link {
  color: #ffffff !important;
}

.gt-menu-style-1.block-menu .menu li li.active-trail a:link,
.gt-menu-style-1.block-menu .menu li li.active-trail:before,
.gt-menu-style-1.block.block-menu .menu li li.active-trail a:link,
.gt-menu-style-1.block.block-menu .menu li li.active-trail:before {
  color: #262626 !important;
}

/**/

/* Menu Style 2 */
.gt-menu-style-2.block-menu .menu li.active-trail,
.gt-menu-style-2.block.block-menu .menu li.active-trail {
  color: #FFFFFF;
  background: #545454;
}

.gt-menu-style-2.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.leaf a:link {
  color: #545454;
}

.gt-menu-style-2.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-2.block-menu .menu li li:hover:before,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-2.block.block-menu .menu li li:hover:before {
  color: #FFFFFF;
}

.gt-menu-style-2.block-menu .menu li.collapsed a:hover,
.gt-menu-style-2.block-menu .menu li.active-trail a:link,
.gt-menu-style-2.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-2.block.block-menu .menu li.active-trail a:link {
  color: #FFFFFF;
}

.gt-menu-style-2.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-2.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-2.block-menu .menu li.active-trail a:hover,
.gt-menu-style-2.block.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail a:hover {
  color: #262626;
  background: #F5F5F5;
}

.gt-menu-style-2.block-menu .menu li li.active-trail:before,
.gt-menu-style-2.block-menu .menu li li.active-trail a:link,
.gt-menu-style-2.block.block-menu .menu li li.active-trail:before,
.gt-menu-style-2.block.block-menu .menu li li.active-trail a:link {
  color: #FFFFFF !important;
}

/**/

/* Menu Style 3 */
.gt-menu-style-3.block-menu .menu li.active-trail,
.gt-menu-style-3.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail,
.gt-menu-style-3.block.block-menu .menu li.active-trail.leaf a:link {
  color: #262626 !important;
  background: #ffffff !important;
}

.gt-menu-style-3.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-3.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.leaf a:hover {
  color: #262626;
}

.gt-menu-style-3.block-menu .menu li.collapsed a:hover,
.gt-menu-style-3.block-menu .menu li li:hover:before,
.gt-menu-style-3.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-3.block.block-menu .menu li li:hover:before {
  color: #ffffff;
}

.gt-menu-style-3.block-menu .menu li.active-trail a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail a:link {
  color: inherit;
}

.gt-menu-style-3.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail.active.leaf a:link {
  color: #262626;
  background: #eeeeee;
}

.gt-menu-style-3.block-menu .menu li.active-trail a:hover,
.gt-menu-style-3.block.block-menu .menu li.active-trail a:hover {
  color: #FFFFFF !important;
  background: #545454;
}

.gt-menu-style-3.block-menu .menu li li.active-trail:before,
.gt-menu-style-3.block-menu .menu li li.active-trail a:link,
.gt-menu-style-3.block.block-menu .menu li li.active-trail:before,
.gt-menu-style-3.block.block-menu .menu li li.active-trail a:link {
  color: #ffffff !important;
}

/**/

/* Sub Menus  Colors */

/* Menu Style 1 */
.gt-menu-style-1.block-menu .menu li.active-trail,
.gt-menu-style-1.block-menu .menu li.active-trail a:hover,
.gt-menu-style-1.block.block-menu .menu li.active-trail,
.gt-menu-style-1.block.block-menu .menu li.active-trail a:hover {
  color: #ffffff;
  background: #262626;
}

.gt-menu-style-1.block-menu .menu li.collapsed a:link,
.gt-menu-style-1.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-1.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-1.block.block-menu .menu li.active-trail li.leaf a:link {
  color: #ffffff !important;
}

.gt-menu-style-1.block-menu .menu li.collapsed a:hover,
.gt-menu-style-1.block-menu .menu li.active-trail a:link,
.gt-menu-style-1.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-1.block-menu .menu li li:hover:before,
.gt-menu-style-1.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-1.block.block-menu .menu li.active-trail a:link {
  color: inherit !important;
  text-decoration: none;
}

.gt-menu-style-1.block.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-1.block.block-menu .menu li li:hover:before {
  color: #262626 !important;
  text-decoration: none;
  background: #eeeeee !important;
}

.gt-menu-style-1.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-1.block-menu .menu li.active-trail.active.leaf a:link {
  color: #ffffff;
  background: #262626;
}

.gt-menu-style-1.block.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-1.block.block-menu .menu li.active-trail.active.leaf a:link {
  color: #ffffff !important;
}

.gt-menu-style-1.block-menu .menu li li.active-trail a:link,
.gt-menu-style-1.block-menu .menu li li.active-trail:before,
.gt-menu-style-1.block.block-menu .menu li li.active-trail a:link,
.gt-menu-style-1.block.block-menu .menu li li.active-trail:before {
  color: #262626 !important;
}

/**/

/* Menu Style 2 */
.gt-menu-style-2.block-menu .menu li.active-trail,
.gt-menu-style-2.block.block-menu .menu li.active-trail {
  color: #ffffff;
  background: #545454;
}

.gt-menu-style-2.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.leaf a:link {
  color: #545454;
}

.gt-menu-style-2.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-2.block-menu .menu li li:hover:before,
.gt-menu-style-2.block.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-2.block.block-menu .menu li li:hover:before {
  color: #ffffff;
}

.gt-menu-style-2.block-menu .menu li.collapsed a:hover,
.gt-menu-style-2.block-menu .menu li.active-trail a:link,
.gt-menu-style-2.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-2.block.block-menu .menu li.active-trail a:link {
  color: #ffffff;
}

.gt-menu-style-2.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-2.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-2.block-menu .menu li.active-trail a:hover,
.gt-menu-style-2.block.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-2.block.block-menu .menu li.active-trail a:hover {
  color: #262626;
  background: #F5F5F5;
}

.gt-menu-style-2.block-menu .menu li li.active-trail:before,
.gt-menu-style-2.block-menu .menu li li.active-trail a:link,
.gt-menu-style-2.block.block-menu .menu li li.active-trail:before,
.gt-menu-style-2.block.block-menu .menu li li.active-trail a:link {
  color: #ffffff !important;
}

/**/

/* Menu Style 3 */
.gt-menu-style-3.block-menu .menu li.active-trail,
.gt-menu-style-3.block-menu .menu li.active-trail.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail,
.gt-menu-style-3.block.block-menu .menu li.active-trail.leaf a:link {
  color: #262626 !important;
  background: #ffffff !important;
}

.gt-menu-style-3.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block-menu .menu li.active-trail li.leaf a:hover,
.gt-menu-style-3.block.block-menu .menu li.collapsed a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail li.leaf a:hover {
  color: #262626;
}

.gt-menu-style-3.block-menu .menu li.collapsed a:hover,
.gt-menu-style-3.block-menu .menu li li:hover:before,
.gt-menu-style-3.block.block-menu .menu li.collapsed a:hover,
.gt-menu-style-3.block.block-menu .menu li li:hover:before {
  color: #ffffff;
}

.gt-menu-style-3.block-menu .menu li.active-trail a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail a:link {
  color: inherit;
}

.gt-menu-style-3.block-menu .menu li.active-trail.active.leaf a:link,
.gt-menu-style-3.block.block-menu .menu li.active-trail.active.leaf a:link {
  color: #262626;
  background: #EEEEEE;
}

.gt-menu-style-3.block-menu .menu li.active-trail a:hover,
.gt-menu-style-3.block.block-menu .menu li.active-trail a:hover {
  color: #FFFFFF !important;
  background: #545454;
}

.gt-menu-style-3.block-menu .menu li li.active-trail:before,
.gt-menu-style-3.block-menu .menu li li.active-trail a:link,
.gt-menu-style-3.block.block-menu .menu li li.active-trail:before,
.gt-menu-style-3.block.block-menu .menu li li.active-trail a:link {
  color: #FFFFFF !important;
}

/* END */

/* ------FONT AWESOME-----*/
.block.icon-university .block-title-wrapper h4:before,
.block.icon-graduation-cap .block-title-wrapper h4:before {
  display: inline-block;
  color: inherit;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.block.icon-university .block-title-wrapper h4:before {
  font-family: "FontAwesome";
  content: "\f19c";
  margin: -1px 6px 0 0;
}

.block.icon-graduation-cap .block-title-wrapper h4:before {
  font-family: "FontAwesome";
  content: "\f19d";
  margin-right: 0.3em;
}
/*END*/

/* -----GT Header Blocks------*/
.block-title-gt-blue.block .block-title-wrapper h4,
.block-title-gt-gold.block .block-title-wrapper h4,
.block-title-gt-grey.block .block-title-wrapper h4,
.block-title-gt-black.block .block-title-wrapper h4 {
  font-family: "FoundationSansCondensed", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: .8em;
  margin: 0;
}

/* -----Header Color-----*/
.block-title-gt-blue.block .block-title-wrapper h4 {
  color: #FFFFFF;
  background: #00254c;
}

.block-title-gt-gold.block .block-title-wrapper h4 {
  color: #262626;
  background: #eeb211;
}

.block-title-gt-grey.block .block-title-wrapper h4 {
  color: #FFFFFF;
  background: #545454;
}

.block-title-gt-black.block .block-title-wrapper h4 {
  color: #eeb211;
  background: #262626;
}

/*END*/

/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {

  /**
   * Content Lead/Close Regions
   * All go to 100%
   */
  .region-content-lead.block-count-2 .block,
  .region-content-lead.block-count-3 .block,
  .region-content-lead.block-count-4 .block,
  .region-content-close.block-count-2 .block,
  .region-content-close.block-count-3 .block,
  .region-content-close.block-count-4 .block {
    width: 100%;
  }

  /*
   * Main Bottom/Top Regions
   * All go to 100%
   */
  #content.no-sidebars .region-main-top.block-count-2 .block,
  #content.no-sidebars .region-main-top.block-count-3 .block,
  #content.no-sidebars .region-main-top.block-count-4 .block,
  #content.no-sidebars .region-main-bottom.block-count-2 .block,
  #content.no-sidebars .region-main-bottom.block-count-3 .block,
  #content.no-sidebars .region-main-bottom.block-count-4 .block,
  #content.one-sidebar .region-main-top.block-count-2 .block,
  #content.one-sidebar .region-main-top.block-count-3 .block,
  #content.one-sidebar .region-main-top.block-count-4 .block,
  #content.one-sidebar .region-main-bottom.block-count-2 .block,
  #content.one-sidebar .region-main-bottom.block-count-3 .block,
  #content.one-sidebar .region-main-bottom.block-count-4 .block,
  #content.both-sidebars .region-main-top.block-count-2 .block,
  #content.both-sidebars .region-main-top.block-count-3 .block,
  #content.both-sidebars .region-main-top.block-count-4 .block,
  #content.both-sidebars .region-main-bottom.block-count-2 .block,
  #content.both-sidebars .region-main-bottom.block-count-3 .block,
  #content.both-sidebars .region-main-bottom.block-count-4 .block {
    width: 100%;
  }

  /**
   * Block layout classes
   * All convert to full width
   */
  .block.three-quarter-width {
    width: 100% !important;
  }

  .block.two-thirds-width {
    width: 100% !important;
  }

  .block.half-width {
    width: 100% !important;
  }

  .block.third-width {
    width: 100% !important;
  }

  .block.quarter-width {
    width: 100% !important;
  }

}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {

  /**
   * Content Lead/Close Regions
   * Keep 'em at 3 across max
   */
  .region-content-lead.block-count-2 .block,
  .region-content-close.block-count-2 .block {
    width: 50%;
  }

  .region-content-lead.block-count-3 .block,
  .region-content-close.block-count-3 .block {
    width: 33.33%;
  }

  .region-content-lead.block-count-4 .block,
  .region-content-close.block-count-4 .block {
    width: 33.33%;
  }

  /**
   * Main Bottom/Top Regions
   * Keep 'em at 2 across max
   */
  #content.no-sidebars .region-main-top.block-count-2 .block,
  #content.no-sidebars .region-main-top.block-count-3 .block,
  #content.no-sidebars .region-main-top.block-count-4 .block,
  #content.no-sidebars .region-main-bottom.block-count-2 .block,
  #content.no-sidebars .region-main-bottom.block-count-3 .block,
  #content.no-sidebars .region-main-bottom.block-count-4 .block,
  #content.one-sidebar .region-main-top.block-count-2 .block,
  #content.one-sidebar .region-main-top.block-count-3 .block,
  #content.one-sidebar .region-main-top.block-count-4 .block,
  #content.one-sidebar .region-main-bottom.block-count-2 .block,
  #content.one-sidebar .region-main-bottom.block-count-3 .block,
  #content.one-sidebar .region-main-bottom.block-count-4 .block,
  #content.both-sidebars .region-main-top.block-count-2 .block,
  #content.both-sidebars .region-main-top.block-count-3 .block,
  #content.both-sidebars .region-main-top.block-count-4 .block,
  #content.both-sidebars .region-main-bottom.block-count-2 .block,
  #content.both-sidebars .region-main-bottom.block-count-3 .block,
  #content.both-sidebars .region-main-bottom.block-count-4 .block {
    width: 50%;
  }

  /**
   * Sidebars
   * In "tablet" views, force blocks to 50% max-width if more than on in region
   * (does not apply to menu sidebar)
   */
  .region-right.block-count-2 .block,
  .region-right.block-count-3 .block,
  .region-right.block-count-4 .block,
  .region-right.block-count-2 .block,
  .region-right.block-count-3 .block,
  .region-right.block-count-4 .block {
    float: left;
    width: 50%;
  }

  /**
   * Block layout classes
   * Convert 1/4 + 3/4 layouts to 1/3 + 2/3
   */
  .block.three-quarter-width {
    width: 66.6% !important;
  }

  .block.quarter-width {
    width: 33.33% !important;
  }

}

/* ~816px or more */
@media only screen and (min-width: 51em) {

}

/* ~1024px or more */
@media only screen and (min-width: 64em) {

}

/* Super Block Overrides */

.nodeblock-gt-ct-super-block .block-body {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.nodeblock-gt-ct-super-block.promo-block .super-block__image-wrapper {
  margin-bottom: 20px;
}

.nodeblock-gt-ct-super-block.promo-block .super-block__teaser {
  border-bottom: 4px solid #EEB211;
  border-top: 4px solid #EEB211;
  margin-bottom: 20px;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.related-info-block .super-block__title {
  background-color: #EEB211;
  color: #262626;
  margin-bottom: 6px;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.related-info-block .node-body {
  background-color: #EEEEEE;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.block-title-bg-gt-blue .super-block__title {
  background-color: #00254C;
  color: #FFFFFF;
  margin-bottom: 6px;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.block-title-bg-gt-blue .super-block__title a:link,
.nodeblock-gt-ct-super-block.block-title-bg-gt-blue .super-block__title a:visited,
.nodeblock-gt-ct-super-block.block-title-bg-gt-blue .super-block__title a:hover,
.nodeblock-gt-ct-super-block.block-title-bg-gt-blue .super-block__title a:active {
  color: #FFFFFF;
}

.nodeblock-gt-ct-super-block.block-title-bg-gt-gold .super-block__title {
  background-color: #EEB211;
  color: #262626;
  margin-bottom: 6px;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.block-title-bg-gt-gold .super-block__title a:link,
.nodeblock-gt-ct-super-block.block-title-bg-gt-gold .super-block__title a:visited,
.nodeblock-gt-ct-super-block.block-title-bg-gt-gold .super-block__title a:hover,
.nodeblock-gt-ct-super-block.block-title-bg-gt-gold .super-block__title a:active {
  color: #262626;
}

.nodeblock-gt-ct-super-block.block-title-bg-gray .super-block__title {
  background-color: #545454;
  color: #FFFFFF;
  margin-bottom: 6px;
  padding: 10px;
}

.nodeblock-gt-ct-super-block.block-title-bg-gray .super-block__title a:link,
.nodeblock-gt-ct-super-block.block-title-bg-gray .super-block__title a:visited,
.nodeblock-gt-ct-super-block.block-title-bg-gray .super-block__title a:hover,
.nodeblock-gt-ct-super-block.block-title-bg-gray .super-block__title a:active {
  color: #FFFFFF;
}

.nodeblock-gt-ct-super-block.icon-info-title .super-block__title:before {
  color: inherit;
  content: "\f05a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.nodeblock-gt-ct-super-block.icon-alert-title .super-block__title:before {
  color: inherit;
  content: "\f06a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.nodeblock-gt-ct-super-block.icon-download-title .super-block__title:before {
  color: inherit;
  content: "\f01a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.nodeblock-gt-ct-super-block.icon-link-title .super-block__title:before {
  color: inherit;
  content: "\f14c";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.nodeblock-gt-ct-super-block.icon-institution .super-block__title:before {
  color: inherit;
  content: "\f19c";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.nodeblock-gt-ct-super-block.icon-mortar-board .super-block__title:before {
  color: inherit;
  content: "\f19d";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.super-block__title {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.05;
  margin: 0 0 10px;
  padding: .4em;
}

.super-block__title a {
  color: #262626;
  text-decoration: none;
}

.super-block__title a:link,
.super-block__title a:visited,
.super-block__title a:hover,
.super-block__title a:active {
  color: #262626;
  text-decoration: none;
}

.sb-skin-gold .super-block__title,
.sb-skin-gold .super-block__title:before,
.sb-skin-gold .super-block__title a {
  color: #262626;
}

.sb-skin-gold .super-block__title:hover,
.sb-skin-gold .super-block__title:before:hover,
.sb-skin-gold .super-block__title a:hover {
  color: #262626;

}

.sb-skin-blue .super-block__title,
.sb-skin-blue .super-block__title:before,
.sb-skin-blue .super-block__title a {
  color: #262626;
  background: #00254C;
}

.sb-skin-blue .super-block__title:hover,
.sb-skin-blue .super-block__title:before:hover,
.sb-skin-blue .super-block__title a:hover {
  color: #262626;
}

.super-block__image {
  float: left;
  max-width: 100%;
}

.block.full-width .sb-image-left.sb-teaser-true .super-block__image,
.block.three-quarter-width .sb-image-left.sb-teaser-true .super-block__image {
  padding-right: 20px;
  width: 30%;
}

.block.full-width .sb-image-right.sb-teaser-true .super-block__image,
.block.three-quarter-width .sb-image-right.sb-teaser-true .super-block__image {
  float: right;
  padding-left: 20px;
  width: 30%;
}

.super-block__image .super-block__image-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.super-block__lower {
  float: left;
  width: 100%;
}

.block.full-width .sb-image-left.sb-teaser-true .super-block__lower,
.block.full-width .sb-image-right.sb-teaser-true .super-block__lower,
.block.three-quarter-width .sb-image-left.sb-teaser-true .super-block__lower,
.block.three-quarter-width .sb-image-right.sb-teaser-true .super-block__lower {
  width: 70%;
}

.super-block__jump-link {
  margin-bottom: 10px;
  position: relative;
}

.super-block__jump-link a {
  background-color: #545454;
  color: #FFFFFF;
  display: block;
  float: left;
  font-weight: 700;
  padding: 10px 14px 10px 34px;
  text-decoration: none;
}

.super-block__jump-link a:link,
.super-block__jump-link a:visited {
  color: #FFFFFF;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.8s;
}

.super-block__jump-link a:hover,
.super-block__jump-link a:active {
  background-color: #262626;
  color: #FFFFFF;

}

.super-block__jump-link a:before {
  font-family: "FontAwesome";
  font-size: inherit;
  color: inherit;
  content: "\f054";
  display: inline-block;
  position: absolute;
  left: .7em;
  top: .7em;
}

.sb-skin-blue .super-block__jump-link a {
  background-color: #00254C;
  color: #FFFFFF;
  transition-property: all;
  transition-duration: 0.8s;
}

.sb-skin-blue .super-block__jump-link a:hover {
  background-color: #eeb211;
  color: #262626;
}

.sb-skin-gold .super-block__jump-link a {
  background-color: #EEB211;
  color: #262626;
  transition-property: all;
  transition-duration: 0.8s;
}

.sb-skin-gold .super-block__jump-link a:hover {
  background-color: #262626;
  color: #FFFFFF;
}

.sb-skin-gold .super-block__jump-link a:before {
  color: inherit;
}

.super-block__image .super-block__jump-link {
  bottom: -1px;
  font-size: .86em;
  margin: 0;
  position: absolute;
  right: 0;
}

.super-block__image .super-block__jump-link a {
  background-color: #FFFFFF;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 0;
  color: #545454;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  padding: 8px 10px 8px 28px;
}

.super-block__image .super-block__jump-link a:hover {
  color: #545454;
}

.super-block__image .super-block__jump-link a:before {
  color: #545454;
  font-size: 1.3em;
  left: 8px;
  top: 6px;
}

.sb-skin-blue .super-block__image .super-block__jump-link a {
  background-color: #00254C;
  color: #FFFFFF;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.sb-skin-blue .super-block__image .super-block__jump-link a:hover {
  color: #FFFFFF;
}

.sb-skin-blue .super-block__image .super-block__jump-link a:before {
  color: #FFFFFF;
}

.sb-skin-gold .super-block__image .super-block__jump-link a {
  background-color: #EEB211;
  color: #262626;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.sb-skin-gold .super-block__image .super-block__jump-link a:hover {
  color: #262626;
}

.sb-skin-gold .super-block__image .super-block__jump-link a:before {
  color: #262626;
}
