/**
 * @file
 * @font-face font inclusions
 *
 * CSS for including fonts.
 *
 */
@charset "UTF-8";
 
/*
 *  NOTE: Font Awesome now loaded via CDN
 *
 */

/*
 * Web Fonts from fontspring.com
 *
 * The fonts included below are subject to the End User License purchased by Georgia Tech
 * from Fontspring and copyrighted by the listed vendor. The fonts are protected under domestic
 * and international trademark and copyright law. You are prohibited from modifying,
 * reverse engineering, duplicating, or distributing this font software.
 * FOR DISPLAY ON GATECH.EDU SITES ONLY.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 */

/* Foundation Sans Roman */
@font-face {
  font-family: 'FoundationSansRegular';
  src: url('../fonts/foundation-sans/foundationsans_roman_macroman/FoundationSans-Roman-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_roman_macroman/FoundationSans-Roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_roman_macroman/FoundationSans-Roman-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_roman_macroman/FoundationSans-Roman-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_roman_macroman/FoundationSans-Roman-webfont.svg#FoundationSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Italic */
@font-face {
  font-family: 'FoundationSansItalic';
  src: url('../fonts/foundation-sans/foundationsans_italic_macroman/FoundationSans-Italic-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_italic_macroman/FoundationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_italic_macroman/FoundationSans-Italic-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_italic_macroman/FoundationSans-Italic-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_italic_macroman/FoundationSans-Italic-webfont.svg#FoundationSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Light */
@font-face {
  font-family: 'FoundationSansLight';
  src: url('../fonts/foundation-sans/foundationsans_light_macroman/FoundationSans-Light-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_light_macroman/FoundationSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_light_macroman/FoundationSans-Light-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_light_macroman/FoundationSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_light_macroman/FoundationSans-Light-webfont.svg#FoundationSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Light Italic */
@font-face {
  font-family: 'FoundationSansLightItalic';
  src: url('../fonts/foundation-sans/foundationsans_lightitalic_macroman/FoundationSans-Light-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_lightitalic_macroman/FoundationSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_lightitalic_macroman/FoundationSans-Light-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_lightitalic_macroman/FoundationSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_lightitalic_macroman/FoundationSans-Light-webfont.svg#FoundationSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Bold */
@font-face {
  font-family: 'FoundationSansBold';
  src: url('../fonts/foundation-sans/foundationsans_bold_macroman/FoundationSans-Bold-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_bold_macroman/FoundationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_bold_macroman/FoundationSans-Bold-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_bold_macroman/FoundationSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_bold_macroman/FoundationSans-Bold-webfont.svg#FoundationSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Bold Italic */
@font-face {
  font-family: 'FoundationSansBoldItalic';
  src: url('../fonts/foundation-sans/foundationsans_bolditalic_macroman/FoundationSans-BoldItalic-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_bolditalic_macroman/FoundationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_bolditalic_macroman/FoundationSans-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_bolditalic_macroman/FoundationSans-BoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_bolditalic_macroman/FoundationSans-BoldItalic-webfont.svg#FoundationSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Condensed */
@font-face {
  font-family: 'FoundationSansCondensed';
  src: url('../fonts/foundation-sans/foundationsans_condensed_macroman/FoundationSans-Cond-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_condensed_macroman/FoundationSans-Cond-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_condensed_macroman/FoundationSans-Cond-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_condensed_macroman/FoundationSans-Cond-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_condensed_macroman/FoundationSans-Cond-webfont.svg#FoundationSansCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Condensed Italic */
@font-face {
  font-family: 'FoundationSansCondensedItalic';
  src: url('../fonts/foundation-sans/foundationsans_condenseditalic_macroman/FoundationSans-CondIt-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_condenseditalic_macroman/FoundationSans-CondIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_condenseditalic_macroman/FoundationSans-CondIt-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_condenseditalic_macroman/FoundationSans-CondIt-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_condenseditalic_macroman/FoundationSans-CondIt-webfont.svg#FoundationSansCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Bold Condensed */
@font-face {
  font-family: 'FoundationSansBoldCondensed';
  src: url('../fonts/foundation-sans/foundationsans_boldcondensed_macroman/FoundationSans-BoldCd-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_boldcondensed_macroman/FoundationSans-BoldCd-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_boldcondensed_macroman/FoundationSans-BoldCd-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_boldcondensed_macroman/FoundationSans-BoldCd-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_boldcondensed_macroman/FoundationSans-BoldCd-webfont.svg#FoundationSansBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Sans Bold Condensed Italic */
@font-face {
  font-family: 'FoundationSansBoldCondensedItalic';
  src: url('../fonts/foundation-sans/foundationsans_boldcondenseditalic_macroman/FoundationSans-BoldCdIt-webfont.eot');
  src: url('../fonts/foundation-sans/foundationsans_boldcondenseditalic_macroman/FoundationSans-BoldCdIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-sans/foundationsans_boldcondenseditalic_macroman/FoundationSans-BoldCdIt-webfont.woff') format('woff'),
       url('../fonts/foundation-sans/foundationsans_boldcondenseditalic_macroman/FoundationSans-BoldCdIt-webfont.ttf') format('truetype'),
       url('../fonts/foundation-sans/foundationsans_boldcondenseditalic_macroman/FoundationSans-BoldCdIt-webfont.svg#FoundationSansBoldCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palladio Regular */
@font-face {
  font-family: 'PalladioFSRegular';
  src: url('../fonts/palladiofs/palladiofs_regular_macroman/Palladio-Regular-webfont.eot');
  src: url('../fonts/palladiofs/palladiofs_regular_macroman/Palladio-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palladiofs/palladiofs_regular_macroman/Palladio-Regular-webfont.woff') format('woff'),
       url('../fonts/palladiofs/palladiofs_regular_macroman/Palladio-Regular-webfont.ttf') format('truetype'),
       url('../fonts/palladiofs/palladiofs_regular_macroman/Palladio-Regular-webfont.svg#PalladioFSRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palladio Italic */
@font-face {
  font-family: 'PalladioFSItalic';
  src: url('../fonts/palladiofs/palladiofs_italic_macroman/Palladio-Italic-webfont.eot');
  src: url('../fonts/palladiofs/palladiofs_italic_macroman/Palladio-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palladiofs/palladiofs_italic_macroman/Palladio-Italic-webfont.woff') format('woff'),
       url('../fonts/palladiofs/palladiofs_italic_macroman/Palladio-Italic-webfont.ttf') format('truetype'),
       url('../fonts/palladiofs/palladiofs_italic_macroman/Palladio-Italic-webfont.svg#PalladioFSItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palladio Bold */
@font-face {
  font-family: 'PalladioFSBold';
  src: url('../fonts/palladiofs/palladiofs_bold_macroman/Palladio-Bold-webfont.eot');
  src: url('../fonts/palladiofs/palladiofs_bold_macroman/Palladio-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palladiofs/palladiofs_bold_macroman/Palladio-Bold-webfont.woff') format('woff'),
       url('../fonts/palladiofs/palladiofs_bold_macroman/Palladio-Bold-webfont.ttf') format('truetype'),
       url('../fonts/palladiofs/palladiofs_bold_macroman/Palladio-Bold-webfont.svg#PalladioFSBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palladio Bold Italic */
@font-face {
  font-family: 'PalladioFSBoldItalic';
  src: url('../fonts/palladiofs/palladiofs_bolditalic_macroman/Palladio-BoldItalic-webfont.eot');
  src: url('../fonts/palladiofs/palladiofs_bolditalic_macroman/Palladio-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palladiofs/palladiofs_bolditalic_macroman/Palladio-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/palladiofs/palladiofs_bolditalic_macroman/Palladio-BoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/palladiofs/palladiofs_bolditalic_macroman/Palladio-BoldItalic-webfont.svg#PalladioFSBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palladio Caps */
@font-face {
  font-family: 'PalladioFSCaps';
  src: url('../fonts/palladiofs/palladiofs_caps_macroman/Palladio-Caps-webfont.eot');
  src: url('../fonts/palladiofs/palladiofs_caps_macroman/Palladio-Caps-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palladiofs/palladiofs_caps_macroman/Palladio-Caps-webfont.woff') format('woff'),
       url('../fonts/palladiofs/palladiofs_caps_macroman/Palladio-Caps-webfont.ttf') format('truetype'),
       url('../fonts/palladiofs/palladiofs_caps_macroman/Palladio-Caps-webfont.svg#PalladioFSCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}

