/**
 * @file
 * Hg Mercury Reader styles 
 *
 *
 */
@charset "UTF-8";
 
/* FEED DISPLAY RULES */
.hg-feed-item {
  background: none;
  clear: both;
  list-style: none;
  margin: 0 0 10px 0;
  overflow: auto;
  padding: 0;
}

.hg-feed.hg-feed-list {
  margin: 0;
  padding: 0;
}

.hg-feed-item {
  margin: 0;
  overflow: visible;
  padding: 12px 0;
}

.hg-feed-item img {
  float: none;
  margin: 0;
}

.hg-item-body {
  float: left;
  width: 100%;
}

.hg-sidebar {
  background-color: #FFFFFF;
  border-radius: 0;
  clear: right;
  float: right;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hg-sidebar ul.itemList {
  padding: 0;
}

.hg-sidebar ul.itemList li {
  background: #EEEEEE;
  clear: both;
  font-size: .9em;
  list-style: none;
  margin: 0 0 10px 0;
  overflow: auto;
  padding: 10px;
  width: 240px;
}

.hg-sidebar ul.itemList li img {
  float: left;
  margin: 5px 10px 0 0;
}

.hg-sidebar ul.hg-sidebar-media-list li {
  background-color: transparent;
  margin: 0 0 10px;
  overflow: visible;
  padding: 0;
  width: auto;
}

.hg-sidebar ul.hg-sidebar-media-list li img {
  float: none;
  margin: 0;
}

.hg-sidebar-media-instructions {
  font-size: .85em;
  line-height: 1;
}

.hg-sidebar-media-list .hg-media-youtube {
  position: relative;
}

.hg-sidebar-media-list .hg-media-youtube:after {
  bottom: 10px;
  color: #FFFFFF;
  content: "\f167";
  font-family: "FontAwesome";
  font-size: 3em;
  left: 10px;
  position: absolute;
}

.hg-sidebar-header {
  border-bottom: 4px solid #eeb211;
  padding: 0 3px 6px 3px;
}

.hg-sidebar-content {
  padding: 0 5px 5px;
}

.hg-feed-event {
  background-color: #EEEEEE;
  border-radius: 0;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 4px solid #262626;
  display: block;
  float: left;
  height: auto;
  line-height: 18px;
  margin: 0 1em .5em 0;
  min-height: 100px;
  min-width: 25%;
  padding: 10px 5px;
  width: auto;
}

.hg-feed-event-month {
  display: block;
  float: none;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 5px 0 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.hg-feed-event-day {
  clear: none;
  display: block;
  float: none;
  font-size: 48px;
  font-weight: 700;
  padding: 25px 0;
  text-align: center;
  width: auto;
}

.hg-feed-event-day.multi-day {
  font-size: 36px;
}

.hg-feed-event-multi-date {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  padding: 10px 0;
}

.hg-feed-event-multi-date em {
  font-weight: 300;
}

.hg-event-time, .hg-event-location, .hg-event-email, .hg-event-url, .hg-event-fee {
  line-height: 18px;
  margin: 10px 0;
}

.hg-event-detail-label {
  font-weight: bold;
}

.hg-feed-event-title,
.hg-feed-news-title {
  font-size: 1.1em;
  line-height: 1.2;
  margin-bottom: 6px;
}
.hg-feed-event-title,
.hg-feed-news-title {
  margin-top: 0;
}
.hg-feed-news-title {
  margin-left: 28%;
}

.hg-feed-event-title a:link,
.hg-feed-event-title a:visited,
.hg-feed-news-title a:link,
.hg-feed-news-title a:visited {
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.hg-feed-news-summary {
  margin-left: 28%;
}

.hg-feed-event-summary *,
.hg-feed-news-summary * {
  font-size: .9375em;
  line-height: 1.5;
}

.hg-feed-news-dateline,
.hg-feed-event-details {
  margin-left: 28%;
}

.hg-feed-news-thumbnail {
  float: left;
  height: auto;
  line-height: 18px;
  margin: 0;
  padding: 5px 0 0;
  text-align: center;
  width: 25%;
}

.block-hg_reader li {
  font-size: .6em;
  margin: 0 0 15px 0;
}

.block-hg_reader li img {
  margin: 4px 8px 0 0;
}

/* >= 816px */
@media only screen and (min-width: 51em) {
  .hg-feed-event {
    float: left;
    margin-bottom: 0;
    min-width: 25%;
  }

  .hg-feed-event-title,
  .hg-feed-event-summary {
    margin-left: 28%;
  }

  .hg-item-body {
    width: 66.66%;
  }

  .hg-sidebar {
    padding: 0 0 20px 40px;
    width: 33.33%;
  }
}

/* FORM DISPLAY RULES */
.form-item-feed-fields-events, .form-item-feed-fields-news {
  float: left;
  width: 30%;
}

.form-item-item-fields-events, .form-item-item-fields-news,
.form-item-hg-events-defaults, .form-item-hg-news-defaults {
  float: left;
  width: 50%;
}

#edit-item-fields {
  position: relative;
}

#scrim {
  background: #FFFFFF;
  border: 10px solid #FFFFFF;
  height: calc(100% + 24px);
  left: -12px;
  opacity: .5;
  position: absolute;
  top: -11px;
  width: calc(100% + 24px);
}

#item-fields-buttons {
  height: 73%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: -12px;
  width: 100%;
}

#item-fields-buttons a {
  background: #808080;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 260px;
}

#item-fields-buttons a:hover {
  background: #eeb211;
}

#item-fields-buttons button {
  font-size: 1.1em;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 260px;
}

#item-fields-buttons button:hover {
  background: #eeb211;
}

.form-submit {
  position: relative;
  z-index: 100;
}

/* UTILITY STUFF THAT REALLY SHOULD BE IN THE BASE SHEET */
.hidden {
  display: none;
}