/**
 * @file
 * CSS structure styles
 *
 * Includes styling for page layout structure and menus
 *
 */
@charset "UTF-8";

#page {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Standard section wrapper */
.row {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}

/* Primary skip-to links */
#skip-links {
}

/* Utility and SM links */
#utility {
  background-color: #FFFFFF;
  border-top: 2px solid #808080;
  box-shadow: 0 0 10px #EEEEEE;
  left: 0;
  position: absolute;
  top: -132px;
  width: 100%;
  z-index: 100;
}

#social-media-links-wrapper {
  float: right;
  position: relative;
}

#utility .row {
  padding: 0;
}

#utility-links {
  float: left;
}

#utility-links .menu,
#social-media-links {
  float: left;
  margin: 0;
  padding: 0;
}

#utility-links .ulink,
#social-media-links li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#utility-links .ulink a {
  color: #545454;
  display: block;
  font-size: .86em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 1px 0 0;
  padding: 13px 10px 13px 28px;
  position: relative;
}

#utility-links .ulink a:link,
#utility-links .ulink a:visited {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.8s;
}

#utility-links .ulink a:hover,
#utility-links .ulink a:active {
  background-color: #FFFFFF;
  color: #262626;
}

#utility-links .campus-map a {
  padding-left: 26px;
}

#social-media-links {
  float: right;
}

#social-media-links a {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 30px 0 0 0;
  margin: 5px;
  width: 30px;
}

#utility-links .mothership a:before,
#utility-links .campus-map a:before,
#utility-links .offices a:before,
#utility-links .directories a:before {
  color: #545454;
  content: '\f0a8';
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  left: 9px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
  transition-property: all;
  transition-duration: 0.8s;
}

#utility-links .mothership a:hover:before,
#utility-links .campus-map a:hover:before,
#utility-links .offices a:hover:before,
#utility-links .directories a:hover:before {
  color: #262626;
}

#utility-links .mothership a:before {
  content: '\f015';
}

#utility-links .campus-map a:before {
  content: '\f041';
  left: 11px;
}

#utility-links .offices a:before {
  content: '\f0f7';
}

#utility-links .directories a:before {
  content: '\f007';
}

/*Social Media - Font Awesome*/
#social-media-links .facebook,
#social-media-links .twitter,
#social-media-links .youtube,
#social-media-links .linkedin,
#social-media-links .googleplus,
#social-media-links .instagram,
#social-media-links .flickr,
#social-media-links .pinterest,
#social-media-links .rss {
  background: none;
}

#social-media-links .facebook:before,
#social-media-links .twitter:before,
#social-media-links .youtube:before,
#social-media-links .linkedin:before,
#social-media-links .googleplus:before,
#social-media-links .instagram:before,
#social-media-links .flickr:before,
#social-media-links .pinterest:before,
#social-media-links .rss:before {
  display: inline-block;
  color: #545454;
  font-family: "FontAwesome";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  /*top: 9px;*/ /*REMOVED because of mobile conflict */
  top: auto;
  bottom: 7px;
  transition-property: all;
  transition-duration: 0.8s;
}

#social-media-links .facebook:hover:before,
#social-media-links .twitter:hover:before,
#social-media-links .youtube:hover:before,
#social-media-links .linkedin:hover:before,
#social-media-links .googleplus:hover:before,
#social-media-links .instagram:hover:before,
#social-media-links .flickr:hover:before,
#social-media-links .pinterest:hover:before,
#social-media-links .rss:hover:before {
  color: #262626;
}

#social-media-links .facebook:before {
  /*color: #3b5998; Color Icon*/
  /*content: "\f082"; Square Icon*/
  content: "\f09a";
  margin-left: .4em;
}

#social-media-links .twitter:before {
  /*color: #4099ff; Color Icon*/
  /*content: "\f081"; Square Icon*/
  content: "\f099";
}

#social-media-links .youtube:before {
  /*color: #e52d27; Color Icon*/
  /*content: "\f166"; Square Icon*/
  content: "\f167";
}

#social-media-links .linkedin:before {
  /*color: #4875B4; Color Icon*/
  /*content: "\f08c"; Square Icon*/
  content: "\f0e1";
}

#social-media-links .googleplus:before {
  /*color: #C63D2D; Color Icon*/
  /*content: "\f0d4"; Square Icon*/
  content: "\f0d5";
}

#social-media-links .instagram:before {
  /*color: #4E433C; Color Icon*/
  /*content: "\f16d"; Square Icon*/
  content: "\f16d";
}

#social-media-links .flickr:before {
  /*color: #FE0883; Color Icon*/
  /*content: "\f16e"; Square Icon*/
  content: "\f16e";
}

#social-media-links .pinterest:before {
  /*color: #910101; Color Icon*/
  /*content: "\f0d3"; Square Icon*/
  content: "\f0d2";
}

#social-media-links .rss:before {
  /*color: #FA9B39; Color Icon*/
  /*content: "\f143"; Square Icon*/
  content: "\f09e";
}

/* Masthead */
#masthead {
  min-height: 200px;
  position: relative;
}

#identity {
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: 100;
}

#identity-wrapper {
  background-color: #262626;
  height: 90px;
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
}

/* Primary logo */
#gt-logo {
  float: left;
  margin: 0;
  position: relative;
  width: 60%;
}

#gt-logo-mothership-link {
  background: url('../images/ie-sucks.png');
  display: block;
  height: 0;
  left: 0;
  overflow: hidden;
  padding: 75px 0 0 0;
  position: absolute;
  top: 0;
  width: 25%;
}

#gt-logo-secondary-link {
  background: url('../images/ie-sucks.png');
  display: block;
  height: 0;
  left: 25%;
  overflow: hidden;
  padding: 75px 0 0 0;
  position: absolute;
  top: 0;
  width: 75%;
}

/* Site title */
#site-title {
  color: #EEB211;
  float: right;
  font-family: "FoundationSansCondensed";
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 28px 30px 0 0;
  text-align: right;
  text-shadow: none;
  max-width: 40%;
}

#site-title.two-line {
  font-size: 1.7143em;
  line-height: 1.05;
  padding-top: 18px;
}

#site-title a:link,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
  color: #EEB211;
  text-decoration: none;
}

/* Primary menus */
#primary-menus {
  position: absolute;
  top: 132px;
  width: 100%;
  z-index: 100;
}

#primary-menus-wrapper {
  background-color: #EEEEEE;
  margin: 0 auto;
  max-width: 1024px;
}

#primary-menus-toggle {
  background-color: #EEB211;
  color: #262626;
  cursor: pointer;
  display: block;
  float: left;
  padding: 3px 8px;
  text-transform: uppercase;
}

#primary-menus-toggle:before {
  color: #262626;
  content: '\f022';
  display: block;
  float: left;
  font-family: "FontAwesome";
  font-size: 1.62em;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
}

#primary-menus-toggle span {
  display: block;
  float: left;
  margin: 5px 0 0 6px
}

#primary-menus-close {
  background-color: #EEEEEE;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: block;
  height: 44px;
  overflow: hidden;
  position: absolute;
  right: -44px;
  top: 1px;
  width: 44px;
}

#primary-menus-close span {
  display: none;
}

#primary-menus-close:before {
  color: #262626;
  content: '\f057';
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: inherit;
  position: absolute;
  top: 6px
}

/* Main menu & action links */
#main-menu-wrapper {
  float: left;
  position: relative;
}

#main-menu-wrapper ul,
#action-items {
  background-color: #EEB211;
  float: left;
  font-size: .88em;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu-wrapper li,
#action-items li {
  background-image: none;
  float: left;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-menu-wrapper li ul {
  display: none;
}

#main-menu-wrapper a,
#action-items a {
  display: block;
  padding: 6px 12px;
}

/* Styling for "nolink" items added via special menu items module */
#main-menu-wrapper > ul.menu > li > span.nolink {
  color: #262626;
  cursor: pointer;
  display: block;
  padding: 6px 12px;
}

#main-menu-wrapper li li {
  font-size: 1em;
}

#main-menu-wrapper li li li {
  font-size: 1.075em;
  line-height: 1.3;
  border: none;
}

#main-menu-wrapper li li.expanded li ul {
  border: none;
  padding-top: 0;
}

#main-menu-wrapper a:link,
#main-menu-wrapper a:visited {
  color: #262626;
  text-decoration: none;
  font-weight: 400;
}

#main-menu-wrapper a:hover,
#main-menu-wrapper > ul.menu > li > span.nolink:hover,
#main-menu-wrapper a:active {
  background: none repeat scroll 0 0 #262626;
  color: #FFFFFF;
  transition: background 0.3s ease 0s;
}

#main-menu-wrapper ul ul ul {
  background-color: #EEB211;
  width: 100%;
}

#main-menu-wrapper li li a {
  padding-left: 12px;
}

#main-menu-wrapper li li a:hover,
#main-menu-wrapper li li a:active {
  background-color: #262626;
}

#main-menu-wrapper li li li a {
  padding-left: 18px;
}

/* decorative only, so color contrast non WCAG AAA */
#main-menu-wrapper li li li a:before {
  color: #FFE08B;
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  font-weight: bold;
  padding-right: 3px;
}

#main-menu-wrapper li li li li a {
  padding-left: 24px;
}

#main-menu-wrapper li li li li li a {
  padding-left: 30px;
}

#action-items-wrapper {
  float: left;
  position: relative;
}

#action-items {
  background: #EEEEEE;
  padding: 0 0 0 3px;
}

#action-items li {
  text-transform: uppercase;
}

#action-items a {
  padding-right: 18px;
}

#action-items a:after {
  color: #545454;
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.4em;
  line-height: 1;
  position: absolute;
  right: 6px;
  top: 8px;
}

#action-items a:link,
#action-items a:visited {
  color: #545454;
  text-decoration: none;
  font-weight: 400;
}

#action-items a:hover,
#action-items a:active {
  background-color: #EEEEEE;
  color: #262626;
  text-decoration: none;
}

/* Mini-panels Mega Menu */

/*

.qtip { border-top: 2px solid #EEB211; }

#main-menu-wrapper a.menu-minipanel:hover:before {
  color: #EEB211;
  content: "\f0de";
  display: block;
  font-family: "FontAwesome";
  font-size: 1.8em;
  font-style: normal;
  font-weight: normal;
  left: 10px;
  position: absolute;
  top: 18px;
  z-index: 10000;
}

*/

.menu-minipanels .pane-content {
  padding: 5px;
}

.menu-minipanels .menu {
  margin: 0;
  padding: 0;
}

.menu-minipanels .menu li {
  font-size: 0.97em;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0 0 6px;
  padding: 0;
}

.menu-minipanels .menu li a {
  color: #FFFFFF;
  display: block;
  padding: 3px 0 3px 12px;
  position: relative;
}

.menu-minipanels .menu li a:before {
  color: #EEB211;
  content: "\f054";
  display: block;
  font-family: "FontAwesome";
  left: 0;
  margin-right: 6px;
  position: absolute;
  top: 4px;
}

.menu-minipanels .menu li li {
  padding-left: 3px;
  font-size: .94em;
}

.menu-minipanels .menu li li a:before {
  content: '';
}

.menu-minipanels .menu li a:link,
.menu-minipanels .menu li a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.menu-minipanels .menu li a:hover,
.menu-minipanels .menu li a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* Breadcrumb */
#breadcrumb {
  clear: both;
}

#breadcrumb .row {
  background-color: #FFFFFF;
  border-bottom: none;
  margin: 0 auto;
}

#breadcrumb ul, #breadcrumb li {
  float: left;
  margin: 0;
  padding: 0;
}

#breadcrumb li {
  font-size: .821em;
  font-weight: 500;
  letter-spacing: .05em;
  list-style: none;
  position: relative;
}

#breadcrumb li a {
  color: #545454;
  display: block;
  padding: 6px 18px 6px 10px;
  text-decoration: none;
}

#breadcrumb li a:after {
  color: #545454;
  content: '\f054';
  display: inline-block;
  font-family: "FontAwesome";
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
  right: 0;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
}

#breadcrumb li.last a:after {
  display: none;
}

#breadcrumb li a:hover {
  color: #FFFFFF;
}

/**
 * Header spotlight
 */
#header-spotlight {
  padding-top: 42px;
  position: relative;
}

.region-spotlight {
  padding-top: 160px;
}

/**
 * Primary Content Regions
 */
#main.with-spotlight {
  padding-top: 0;
}

#support {
  padding: 10px;
}

#sidebar-left, #sidebar-right {
  float: left;
  padding: 0 0 10px;
  width: 20%;
}

#sidebar-left.solo-sidebar {
  margin: 0 0 0 -100%;
  width: 30%;
}

#sidebar-right {
  margin: 0 0 0 60%;
}

#sidebar-right.solo-sidebar {
  margin: 0;
  width: 30%;
}

#content {
  float: left;
  padding: 0 0 10px;
  width: 100%;
}

#content.sidebar-left {
  margin: 0 0 0 30%;
  width: 70%;
}

#content.sidebar-right {
  margin: 0;
  width: 70%;
}

#content.both-sidebars {
  margin: 0 -120% 0 20%;
  width: 60%;
}

#content-lead, #content-close {
  padding: 0 0 10px;
}

#content-close {
  clear: both;
}

/* Page title */
#page-title .title {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0;
  padding: 16px 10px 18px;
}

.front-page-title-hidden #page-title .title {
  display: none;
}

.front-page-title-hidden #page-title {
  min-height: 0;
  width: 100%;
}

.block.block-menu-block .block-title-wrapper h4,
.block-menu-block .block-title-wrapper h4 {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 0 0.2em;
  padding: .5em;
}

.block.block-menu .block-title-wrapper h4,
.block-menu .block-title-wrapper h4 {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 0 0.2em;
  padding: .75em;
}

.block-menu .menu,
.block.block-menu .menu {
  border-bottom: 1px solid #808080;
  margin: 0 0 10px;
  padding: 0;
}

.block-menu .menu li,
.block.block-menu .menu li,
.block.block-menu-block .menu li {
  list-style: none;
  margin: 0;
  padding: 8px 3px;
  position: relative;
}

.block-menu .menu li.first,
.block.block-menu .menu li.first {
  border: none;
}

.block-menu .menu a,
.block.block-menu .menu a {
  display: block;
}

.menu-block-wrapper .menu li .last:before {
  color: inherit;
  content: "";
  display: inline-block;
  float: left;
  font-family: "FontAwesome";
  font-size: inherit;
}

.block-menu .menu a:link,
.block-menu .menu a:visited,
.block.block-menu .menu a:link,
.block.block-menu .menu a:visited {
  text-decoration: none!important;
}

#block-menu-menu-menu-style-1 a:link,
#block-menu-menu-menu-style-1 a:visited {
  color: #545454!important;
}

#block-menu-menu-menu-style-1 a:hover {
  color: #000000 !important;
}

.block-menu .menu a:hover,
.block-menu .menu a:active,
.block.block-menu .menu a:hover,
.block.block-menu .menu a:active {
  text-decoration: none!important;
}

.block-menu .menu .menu,
.block.block-menu .menu .menu {
  border: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.block-menu .menu li li,
.block.block-menu .menu li li {
  border: none;
  font-size: 1em;
  padding-bottom: 0;
}

.block-menu .menu li li:before,
.block.block-menu .menu li li:before {
  content: '';
}


.block-menu .menu li li li,
.block.block-menu .menu li li li {
  font-size: 1em;
}

/**/
#left-nav .menu li li:before,
#left-nav .menu li li a:before {
  content: "";
}

/* Menus in Left Nav region */
#left-nav .block-title-wrapper {
  display: none;
}

#left-nav .menu {
  border-top: 4px solid #EEB211;
  margin: 0 0 20px;
  padding: 0;
}

#left-nav .menu li {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#left-nav .menu li a {
  border-bottom: 1px solid #eeeeee;
  display: block;
  color: #023d7b;
  font-weight: 700;
  padding: 8px 12px 8px 20px;
  position: relative;
  text-decoration: none;
}

#left-nav .menu li a:hover {
  color: #023D7B;
}

#left-nav .menu li.expanded a {
  border-bottom: none;
  padding-bottom: 0;
}

#left-nav .menu li.expanded li.last a {
  padding-bottom: 8px;
}

#left-nav .menu li .menu {
  border-bottom: 1px solid #EEEEEE;
  border-top: none;
  margin: 0;
  padding: 0 0 5px 12px;
}

#left-nav .menu li .menu li .menu {
  border: none;
  padding-bottom: 0;
}

#left-nav .menu li li a {
  border: none;
  font-size: 1em;
  font-weight: 400;
}

#left-nav .menu li a:before {
  color: #EEEEEE;
  content: '\f054';
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 6px;
}

#left-nav .menu li li:before,
#left-nav .menu li li a:before {
  content: "";
}

#left-nav .menu li li a.active {
  font-weight: 700;
}

/**
 * Superfooter
 */
#superfooter {
  background-color: #545454;
  overflow: hidden;
  width: 100%;
}

#superfooter.collapsible {
  height: 0;
}

#superfooter > .row {
  padding: 20px 10px 10px 10px;
}

.superfooter-trigger-wrapper {
  padding-top: 20px;
}

#superfooter-trigger {
  background-color: #545454;
  border-radius: 15px 15px 0 0;
  display: block;
  font-family: "FoundationSansCondensed";
  font-size: 1.1em;
  margin: 0 auto;
  padding: 6px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
}

#superfooter-trigger:link,
#superfooter-trigger:visited {
  color: #FFFFFF;
  text-decoration: none;
}

#superfooter-trigger:hover,
#superfooter-trigger:active {
  color: #FFFFFF;
}

#superfooter-trigger:before {
  color: #FFFFFF;
  content: "\f13a";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 1.1em;
  margin: 0 6px 0 0;
}

#superfooter-trigger.collapsed:before {
  content: "\f138";
}

/* street address + map image */
#street-address-info {
  float: right;
  padding: 0 15px;
  width: 33.33%;
}

#street-address-info img {
  box-shadow: none;
  border: 1px solid #777777;
  padding: 0.2em;
}

#street-address-info p {
  color: #FFFFFF;
  font-size: .857em;
  margin-top: 6px;
}

/* resource links */
.superfooter-resource-links {
  float: left;
  padding: 0 10px 10px;
  position: relative;
  width: 16.5%
}

.superfooter-gt-default-mini .superfooter-resource-links {
  width: 22.22%;
}

.superfooter-gt-default-mini #gt-default-visitor-links {
  width: 44.44%;
}

.maintenance-page .superfooter-gt-default-mini .superfooter-resource-links {
  width: 33.33%;
}

.maintenance-page .superfooter-gt-default-mini #gt-default-visitor-links {
  width: 66.66%;
}

.superfooter-resource-links ul.menu {
  display: block;
  font-size: .7857em;
  letter-spacing: .05em;
  line-height: 1.4;
  margin: 0 0 12px 0;
  padding: 0;
}

.superfooter-resource-links ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.superfooter-gt-default-mini ul#gt-visitor-resources.menu li.gt-default-mini-left {
  clear: left;
  float: left;
  padding-right: 10px;
  width: 50%;
}

.superfooter-gt-default-mini ul#gt-visitor-resources.menu li.gt-default-mini-right {
  clear: right;
  float: right;
  padding-right: 0;
  padding-left: 10px;
  width: 50%;
}

.superfooter-resource-links .title, .superfooter-resource-links ul.menu span.nolink {
  color: #FFFFFF;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.15;
  margin: 0 0 0.6em;
  padding: 0;
  text-shadow: none;
}

/* decorative color use */
.superfooter-gt-default-mini .superfooter-resource-links .title {
  border-bottom: 1px dotted #EEB211;
  padding-bottom: 5px;
}

/* decorative color use */
.superfooter-resource-links ul.menu span.nolink {
  border-bottom: 1px dotted #EEB211;
  border-top: 1px dotted #EEB211;
  display: block;
  font-size: 1.214em;
  font-weight: 700;
  margin: .9em 0 0.6em;
  padding: 5px 0 6px 2px;
}

.superfooter-resource-links ul.menu li a {
  color: #FFFFFF;
  display: block;
  padding: 0.5em 0 0.5em 3px;
  text-decoration: none;
  font-weight: 300;
}

.superfooter-resource-links ul.menu a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/**
 * Footer
 */
#footer {
  background-color: #EEB211;
}

#footer .row {
  padding: 10px;
}

#footer-logo {
  float: left;
  text-align: center;
}

#footer-logo img {
  width: 140px;
}

#footer-logo p {
  color: #262626 !important;
  font-size: .786em;
  line-height: 1.1;
  margin: 0 0 6px 0;
}

#footer-utility-links {
  float: right;
  position: relative;
}

#footer-utility-links .menu {
  margin: 0;
  padding: 5px 0;
  text-align: right;
}

#footer-utility-links .gt-footer-utility-links-wrapper {
  padding-top: 8px;
}

#footer-utility-links .gt-footer-utility-links-wrapper.login-link-included {
  padding-top: 0;
}

#footer-utility-links .menu.gt-footer-utility-links {
  border-bottom: 1px solid #EEB211;
}

#footer-utility-links .menu.gt-footer-legal-links {
  margin-top: 15px;
}

#footer-utility-links .menu.gt-footer-legal-links.custom-links-included {
  border-top: 1px solid #EEB211;
  margin-top: 0;
}

#footer-utility-links .menu li {
  display: inline;
  font-size: .786em;
  padding: 2px 0 2px 10px;
  margin: 0 0 2px;
}

/* decorative element, so non WCAG AAA color contrast */
#footer-utility-links .menu li:after {
  content: '\f142';
  display: inline-block;
  color: #808080;
  font-family: "FontAwesome";
  font-size: .8em;
  margin-left: 10px;
}

#footer-utility-links .menu li.last:after {
  content: "";
}

#footer-utility-links .menu li a {
  color: #262626 !important;
  text-decoration: none;
  font-weight: 300;
}

#footer-utility-links .menu li a:hover {
  color: #262626;
}

#footer-utility-links .menu.gt-footer-login-links li {
  padding: 0;
  margin: 0 0 0 12px;
}

#footer-utility-links .menu.gt-footer-login-links li.first {
  margin-right: 12px;
}

#footer-utility-links .menu.gt-footer-login-links li:after {
  content: '\f023';
  font-size: 1em;
}

/**
 * Contextual links for GT Tools menus
 */

.gt-tools-contextual-link {
  display: block;
}

.gt-tools-contextual-link.empty {
  border: 1px dashed #262626;
  font-size: .786em;
  padding: 6px 10px;
  margin: 3px;
  text-align: center;
}

.gt-tools-contextual-link.empty:link,
.gt-tools-contextual-link.empty:visited {
  color: #262626;
  text-decoration: none;
}

.gt-tools-contextual-link.empty:hover,
.gt-tools-contextual-link.empty:active {
  color: #000000;
}

div:hover > .gt-tools-contextual-link.populated {
  visibility: visible;
}

.gt-tools-contextual-link.populated {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 16px;
}

.gt-tools-contextual-link.populated:before {
  color: #262626;
  content: '\f013';
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}

#main-menu-wrapper .gt-tools-contextual-link.populated {
  padding: 0;
}

#main-menu-wrapper .gt-tools-contextual-link.populated:hover {
  background-color: transparent;
}

#superfooter .gt-tools-contextual-link.populated:before {
  color: #FFFFFF;
}

#superfooter .gt-tools-contextual-link.empty {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {

  /*
   * Masthead
   */
  #masthead {
    min-height: 0;
  }

  #identity {
    border-top: 2px solid #262626;
    position: static;
    top: 0;
  }

  #identity-wrapper {
    height: auto;
  }

  #gt-logo {
    height: 70px;
  }

  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }

  #gt-logo, #site-title {
    float: none;
    text-align: left;
    width: 100%;
  }

  #site-title {
    max-width: 100%;
  }

  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  }

  #gt-logo-mothership-link {
    width: 30%;
  }

  #gt-logo-secondary-link {
    left: 30%;
    width: 70%;
  }

  /**
  * Main Menu, Action Items + Utility/SM
  */
  #primary-menus {
    position: static;
    top: 0;
  }

  #primary-menus-off-canvas {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #808080;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 10000;
  }

  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }

  #main-menu-wrapper,
  #main-menu-wrapper ul,
  #main-menu-wrapper li {
    float: none;
  }

  #main-menu-wrapper a:hover {
    background-color: #262626;
  }

  #main-menu-wrapper ul ul {
    background-color: #FFE08B;
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper ul.show {
    display: block;
  }

  #main-menu-wrapper {
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper li {
    border-bottom: 1px solid #FFE08B;
  }

  #main-menu-wrapper li,
  #action-items li {
    font-weight: 400;
    list-style: none;
  }

  #main-menu-wrapper li.first {
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper li li,
  #main-menu-wrapper li li.first {
    border: none;
  }

  #main-menu-wrapper li.expanded > a:before,
  #main-menu-wrapper li.expanded a.menu-minipanel:before,
  #main-menu-wrapper li.expanded > span.nolink:before {
    color: #262626;
    content: '\f0da';
    display: inline-block;
    float: left;
    font-family: "FontAwesome";
    font-size: 1em;
    left: 0;
    padding-right: 3px;
    position: relative;
    top: 0;
  }

  #main-menu-wrapper li.expanded a.been-clicked:after {
    color: #262626;
    content: '\f0a9';
    display: inline-block;
    float: right;
    font-family: "FontAwesome";
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: 2px;
  }

  #main-menu-wrapper li li.expanded:before {
    top: 9px;
  }

  #main-menu-wrapper li li.expanded ul {
    border-top: none;
  }

  #main-menu-wrapper li li li a:before {
    content: '';
    font-weight: normal;
    padding: 0;
  }

  #main-menu-wrapper li li a {
    padding-left: 24px;
  }

  #main-menu-wrapper li li li a {
    padding-left: 30px;
  }

  #main-menu-wrapper li li li li a {
    padding-left: 36px;
  }

  /* Reducing mini-panels content for mobile menu */
  div.qtip {
    border: none;
    height: 0;
    overflow: hidden;
  }

  div.menu-minipanels {
    height: 0;
    left: -10000em;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  #action-items-wrapper,
  #action-items,
  #action-items li {
    float: none;
  }

  #action-items {
    background-color: #EEEEEE;
    border-top: 2px solid #545454;
  }

  #action-items li {
    border-bottom: 1px solid #545454;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }

  #action-items li a:hover {
    background-color: #EEEEEE;
  }

  #action-items-wrapper ul li a:after {
    color: #262626;
    content: '\f0a9';
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }

  #utility {
    border-bottom: 2px solid #808080;
    box-shadow: none;
    position: static;
  }

  #utility-links {
    background-color: #FFFFFF;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }

  #utility-links .ulink a:hover,
  #utility-links .ulink a:active {
    background-color: transparent;
  }

  #social-media-links {
    float: none;
    padding: 10px;
  }

  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 2px;
    position: relative;
  }

  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right {
    float: none;
    margin: 0;
    width: 100%;
  }

  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar {
    margin: 0;
    width: 100%;
  }

  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars {
    float: none;
    margin: 0;
    width: 100%;
  }

  /**
   * Superfooter
   */
  .superfooter-resource-links,
  .superfooter-gt-default-mini .superfooter-resource-links,
  .superfooter-gt-default-mini #gt-default-visitor-links {
    float: none;
    padding: 0;
    width: 100%;
  }

  .superfooter-resource-links .title:before {
    color: #262626;
    content: '\f0da';
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    left: 11px;
    line-height: 1;
    position: absolute;
    text-shadow: none;
    top: 10px;
  }

  .superfooter-resource-links .title.open:before {
    content: '\f0d7';
  }

  .superfooter-resource-links .title {
    border-top: 1px solid #808080;
    cursor: pointer;
    margin: 0;
    padding: 10px 10px 10px 26px;
  }

  .superfooter-gt-default-mini .superfooter-resource-links .title {
    border-bottom: none;
    padding-bottom: 10px;
  }

  .superfooter-resource-links ul.menu {
    display: none;
    background-color: #545454;
    margin: 0 0 16px;
    padding: 10px 10px 10px 14px;
  }

  .superfooter-resource-links ul.menu span.nolink {
    border: none;
    margin: 0 0 0 -2px;
    padding: .5em 0;
  }

  .superfooter-gt-default-mini ul#gt-visitor-resources.menu li.gt-default-mini-left,
  .superfooter-gt-default-mini ul#gt-visitor-resources.menu li.gt-default-mini-right {
    float: none;
    padding: 0;
    width: 100%;
  }

  #street-address-info {
    border-top: 1px solid #808080;
    clear: left;
    float: left;
    padding: 20px 10px 0;
    width: 100%;
  }

  #street-address-info p {
    margin: 6px 0 0 0;
  }

  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }

  #footer-utility-links .menu {
    text-align: center;
  }

  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;
  }

  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }

  #footer-logo {
    float: none;
    text-align: center;
  }

  #footer-logo img, #footer-logo p {
    float: none;
  }

  #footer-logo p {
    padding: 0 0 10px;
  }

}

/* Between 320px and 736px: Portrait */
@media only screen and (min-width: 20em) and (max-width: 46em) and (orientation: portrait) {
    #primary-menus-close {
		background-color: #EEB211;
	}
	
	/* FIX FOR HIDDEN MOBILE MENU CUTTING OFF FIRST ONE */  
	#primary-menus-off-canvas nav #main-menu-wrapper .menu:first-child {
		/* 45px */
		padding-top: 2.813em;
	}
}

/* Between 320px and 736px: Landscape */
@media only screen and (min-width: 20em) and (max-width: 46em) and (orientation: landscape) {
	#primary-menus-close {
		background-color: #EEB211;
	}
	
	/* FIX FOR HIDDEN MOBILE MENU CUTTING OFF FIRST ONE */  
	/* 45px */
	#primary-menus-off-canvas nav #main-menu-wrapper .menu:first-child {
		padding-top: 2.813em;
	}
}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {

  /*
   * Masthead
   */
  #masthead {
    min-height: 0;
  }

  #identity {
    border-top: 2px solid #808080;
    position: static;
    top: 0;
  }

  #identity-wrapper {
    height: auto;
  }

  #gt-logo {
    height: 70px;
  }

  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }

  #gt-logo, #site-title {
    float: none;
    text-align: left;
    width: 100%;
  }

  #site-title {
    max-width: 100%;
  }

  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  }

  #gt-logo-mothership-link {
    width: 15%;
  }

  #gt-logo-secondary-link {
    left: 15%;
  }

  /**
  * Main Menu, Action Items + Utility/SM
  */
  #primary-menus {
    position: static;
    top: 0;
  }

  #primary-menus-off-canvas {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #808080;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 10000;
  }

  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }

  #main-menu-wrapper,
  #main-menu-wrapper ul,
  #main-menu-wrapper li {
    float: none;
  }

  #main-menu-wrapper a:hover {
    background-color: #262626;
  }

  #main-menu-wrapper ul ul {
    background-color: #FFE08B;
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper ul.show {
    display: block;
  }

  #main-menu-wrapper {
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper li {
    border-bottom: 1px solid #FFE08B;
  }

  #main-menu-wrapper li.first {
    border-top: 1px solid #FFE08B;
  }

  #main-menu-wrapper li li,
  #main-menu-wrapper li li.first {
    border: none;
  }

  #main-menu-wrapper li.expanded > a:before,
  #main-menu-wrapper li.expanded a.menu-minipanel:before,
  #main-menu-wrapper li.expanded > span.nolink:before {
    color: #262626;
    content: '\f0da';
    display: inline-block;
    float: left;
    font-family: "FontAwesome";
    font-size: 1em;
    left: 0;
    padding-right: 3px;
    position: relative;
    top: 0;
  }

  #main-menu-wrapper li.expanded a.been-clicked:after {
    color: #262626;
    content: '\f0a9';
    display: inline-block;
    float: right;
    font-family: "FontAwesome";
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: 2px;
  }

  #main-menu-wrapper li li.expanded:before {
    top: 9px;
  }

  #main-menu-wrapper li li.expanded ul {
    border-top: none;
  }

  #main-menu-wrapper li li li a:before {
    content: '';
    font-weight: normal;
    padding: 0;
  }

  #main-menu-wrapper li li a {
    padding-left: 24px;
  }

  #main-menu-wrapper li li li a {
    padding-left: 30px;
  }

  #main-menu-wrapper li li li li a {
    padding-left: 36px;
  }

  /* Reducing mini-panels content for mobile menu */
  div.qtip {
    border: none;
    height: 0;
    overflow: hidden;
  }

  div.menu-minipanels {
    height: 0;
    left: -10000em;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  #action-items-wrapper,
  #action-items,
  #action-items li {
    float: none;
  }

  #action-items {
    background-color: #EEEEEE;
    border-top: 2px solid #545454;
  }

  #action-items li {
    border-bottom: 1px solid #545454;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }

  #action-items li a:hover {
    background-color: #EEEEEE;
  }

  #action-items-wrapper ul li a:after {
    color: #262626;
    content: '\f0a9';
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }

  #utility {
    border-bottom: 2px solid #808080;
    box-shadow: none;
    position: static;
  }

  #utility-links {
    background-color: #FFFFFF;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }

  #utility-links .ulink a:hover,
  #utility-links .ulink a:active {
    background-color: transparent;
  }

  #social-media-links {
    float: none;
    padding: 10px;
  }

  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 2px;
    position: relative;
  }

  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right {
    float: none;
    margin: 0;
    width: 100%;
  }

  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar {
    margin: 0;
    width: 100%;
  }

  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars {
    float: none;
    margin: 0;
    width: 100%;
  }

  /**
   * Superfooter
   */
  .superfooter-resource-links {
    width: 25%;
  }

  .superfooter-gt-default-mini .superfooter-resource-links {
    width: 33.33%;
  }

  .superfooter-gt-default-mini #gt-default-visitor-links {
    width: 66.66%;
  }

  .superfooter-resource-links .title {
    min-height: 35px;
  }

  .superfooter-gt-default-mini .superfooter-resource-links .title {
    min-height: 0;
  }

  .superfooter-resource-links ul.menu {
    display: block !important;
  }

  #street-address-info {
    clear: left;
    float: left;
    width: 100%;
  }

  #street-address-info img {
    float: left;
  }

  #street-address-info p {
    margin: 0;
  }

  .street-address {
    float: left;
    padding-left: 10px;
  }

  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }

  #footer-utility-links .menu {
    text-align: center;
  }

  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;
  }

  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }

  #footer-logo {
    float: none;
    text-align: center;
  }

  #footer-logo img, #footer-logo p {
    float: none;
  }

  #footer-logo p {
    padding: 0 0 10px;
  }

}

/* Between 768px and 1024px: Portrait (iPad) */
@media only screen and (min-width: 48em) and (max-width: 64em) and (orientation: portrait) {
	#primary-menus-close {
		background-color: #EEB211;
	}
	
	/* FIX FOR HIDDEN MOBILE MENU CUTTING OFF FIRST ONE */  
	#primary-menus-off-canvas nav #main-menu-wrapper .menu:first-child {
		/* 45px */
		padding-top: 2.813em;
	}			
}

/* ~816px or more */
@media only screen and (min-width: 51em) {

  .superfooter-resource-links ul.menu {
    display: block !important;
  }

  #main-menu-wrapper ul li {
    cursor: pointer;
  }

  #main-menu-wrapper ul li:hover ul {
    display: block;
  }

  #main-menu-wrapper ul li:hover a.menu-minipanel + ul,
  #main-menu-wrapper ul li:hover a.menu-minipanel + ul {
    display: none;
  }

  #main-menu-wrapper ul ul {
    background-color: #FFE08B;
    border-top: 2px solid #FFE08B;
    display: none;
    float: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 186px;
    z-index: 99;
  }

  #main-menu-wrapper ul ul:before {
    color: #FFE08B;
    content: "\f0de";
    font-family: "FontAwesome";
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
    left: 11px;
    position: absolute;
    top: -18px;
  }

  #main-menu-wrapper ul ul ul {
    border: none;
    margin: 0;
    position: relative;
    top: 0;
  }

  #main-menu-wrapper ul ul ul:before {
    content: '';
  }

  #main-menu-wrapper li ul li {
    float: none;
  }

}

/* ~1024px or more */
@media only screen and (min-width: 64em) {

}

