/**
 * @file
 * Default typography settings
 *
 * Includes styling for all typography, lists, etc.
 *
 */
@charset "UTF-8";

p, h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #545454;
  font-size: 60%;
  line-height: 0;
}

h1 {
  font-size: 2.266em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.733em;
}

h4 {
  font-size: 1.466em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .025em;
  line-height: 1.6;
  margin: 0 0 1.29em;
}

dl, ol, ul {
  font-size: 1em;
  line-height: 1.6;
  list-style-position: outside;
  margin: 0 0 1.29em;
  padding: 0;
}

ol {
  padding-left: 1.8em;
}

ul {
  padding-left: 1.6em;
}

ol ol, ol ul, ul ul, ul ol {
  font-size: 1em;
  margin: .5em 0;
}

li {
  font-weight: 300;
  margin-bottom: .5em;
}

li li {
  margin-bottom: 0;
}

dl dt {
  font-weight: bold;
  margin-bottom: 0.3em;
}

dl dd {
  margin: 0 0 .5em .5em;
}

hr {
  border: solid #808080;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  color: #7f0a0c;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
}

abbr, acronym {
  border-bottom: 1px dotted #e5e5e5;
  color: #262626;
  cursor: help;
  font-size: 90%;
  text-transform: uppercase;
}

abbr {
  text-transform: none;
}

p.intro-text {
  font-size: 1.4em;
  line-height: 1.5;
  margin: 0 0 1.142em;
}

p.cutline-text {
  color: #262626;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 1.57em;
  padding: 6px 3px 0;
}

blockquote {
  border-left: 5px solid #EEB211;
  color: #545454;
  font-size: 1.286em;
  margin: 0 0 1.25em -5px;
  padding: 0.5625em 0.857em;
}

blockquote cite {
  color: #545454;
  display: block;
}

blockquote cite:before {
  content: "\2014 \0020";
  font-family: "FontAwesome";
}

blockquote cite a,
blockquote cite a:visited {
  color: #545454;
}

blockquote.pull-quote-left {
  float: left;
  margin: 0 12px 6px -5px;
  width: 50%;
}

blockquote.pull-quote-right {
  float: right;
  margin: 0 -5px 6px 12px;
  width: 50%;
}

/* Link/button styling */
.highlight-link-blue a,
.highlight-link-yellow a,
.highlight-link-gray a {
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);*/
  display: inline-block;
  font-weight: 700;
  padding: 10px 14px 10px 36px;
  position: relative;
  vertical-align: bottom;
}

blockquote .highlight-link-blue a,
blockquote .highlight-link-yellow a,
blockquote .highlight-link-gray a {
  padding-left: 40px;
}

.highlight-link-blue a:before,
.highlight-link-yellow a:before,
.highlight-link-gray a:before {
  content: "\f054";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  position: absolute;
  left: 1em;
  top: .7em;
}

.highlight-link-blue a:before,
.highlight-link-yellow a:before,
.highlight-link-gray a:before {
  color: inherit;
}

.highlight-link-blue a {
  color: #FFFFFF;
  background-color: #023D7B;
}

.highlight-link-yellow a {
  color: #262626;
  background-color: #EEB211;
}

.highlight-link-gray a {
  color: #262626;
  background-color: #eeeeee;
}

.highlight-link-yellow a:link,
.highlight-link-yellow a:visited {
  color: #262626;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.8s;
}

.highlight-link-yellow a:hover,
.highlight-link-yellow a:active {
  color: #FFFFFF;
  background-color: #262626;
  text-decoration: none;
}

.highlight-link-blue a:link,
.highlight-link-blue a:visited {
  color: #FFFFFF;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.8s;
}

.highlight-link-blue a:hover,
.highlight-link-blue a:active {
  color: #262626;
  text-decoration: none;
  background: #eeb211;
}

.highlight-link-gray a:link,
.highlight-link-gray a:visited,
.highlight-link-gray a:hover,
.highlight-link-gray a:active {
  color: #EEB211;
  text-decoration: none;
}

.jump-link a {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  color: #262626;
  display: inline-block;
  padding: 3px 20px 5px 36px;
  position: relative;
  vertical-align: bottom;
}

.jump-link a:link,
.jump-link a:visited {
  text-decoration: none;
}

.jump-link a:before {
  background-color: #023D7B;
  border-radius: 20px 20px 20px 20px;
  color: #FFFFFF;
  content: "\f064";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 0.77em;
  height: 20px;
  left: 8px;
  padding: 2px 0 0 5px;
  position: absolute;
  top: 5px;
  width: 20px;
}

blockquote .jump-link a:before {
  top: 7px;
}

/* Microformats */
.vcard {
  border: 1px solid #EEEEEE;
  display: inline-block;
  margin: 0 0 1.25em 0;
  padding: 0.625em 0.75em;
}

.vcard li {
  display: block;
  margin: 0;
}

.vcard .fn {
  font-size: 0.9375em;
  font-weight: bold;
}

.vevent .summary {
  font-weight: bold;
}

.vevent abbr {
  border: none;
  cursor: default;
  font-weight: bold;
  padding: 0 0.0625em;
  text-decoration: none;
}

/**
 * Tweaks to Drupal defaults
 */
/* list & table markup */
.item-list ul {
  padding-left: 1.6em;
}

.item-list ul li {
  margin: 0 0 .5em;
  padding: 0;
}

.item-list ul li li {
  margin: 0;
}

.item-list ul ul {
  margin: .5em 0;
}

tr.even {
  background-color: #FFFFFF;
}

ul.primary li a {
  border-radius: 5px 5px 0 0;
  padding: 0 1.5em;
}

/* form elements */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  font-weight: 700;
  margin: 0 0.5em;
}

fieldset {
  margin: 0 0 1.29em;
  padding: 1em;
}

fieldset.collapsed {
  margin: 0;
}

fieldset.filter-wrapper {
  border-top: 1px solid #808080;
}

legend {
  font-size: 1.286em;
  font-weight: 700;
}

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 1.5em;
}

input[type="textfield"], input[type="file"], input.form-text, input.form-file {
  border: 1px solid #262626;
  padding: 1px;
}

/**
 * PLACEHOLDER: baseline typography overrides for structural elements and/or regions   
 */

/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {
  
  /*
  h1, h2, h3, h4, h5, h6 { line-height: 1.2125em; }
  h1 { font-size: 2.125em; }
  h2 { font-size: 1.6875em; }
  h3 { font-size: 1.375em; }
  h4 { font-size: 1.125em; }
  */
  blockquote, blockquote.pull-quote-left,
  blockquote.pull-quote-right {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  
  p.intro-text {
    font-size: 1.25em;
    line-height: 1.5;
  }
  
}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {
  
  /*
  h1, h2, h3, h4, h5, h6 { line-height: 1.2125em; }
  h1 { font-size: 2.125em; }
  h2 { font-size: 1.6875em; }
  h3 { font-size: 1.375em; }
  h4 { font-size: 1.125em; }
  */
  blockquote, blockquote.pull-quote-left,
  blockquote.pull-quote-right {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  
}

/* ~816px or more */
@media only screen and (min-width: 51em) {
  
}

/* ~1024px or more */
@media only screen and (min-width: 64em) {
  
}